/*-- estilizando icones --*/

header {
    overflow-x: hidden;
    overflow-y: hidden;
}

.nav-link>span {
    z-index: 999999!important;
}

.icon {
    width: 4em;
    height: 4em;
    background-image: url("data:image/svg+xml,<svg width='1em' height='1em' viewBox='0 0 16 16' class='bi bi-controller' fill='white' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M11.119 2.693c.904.19 1.75.495 2.235.98.407.408.779 1.05 1.094 1.772.32.733.599 1.591.805 2.466.206.875.34 1.78.364 2.606.024.815-.059 1.602-.328 2.21a1.42 1.42 0 0 1-1.445.83c-.636-.067-1.115-.394-1.513-.773a11.307 11.307 0 0 1-.739-.809c-.126-.147-.25-.291-.368-.422-.728-.804-1.597-1.527-3.224-1.527-1.627 0-2.496.723-3.224 1.527-.119.131-.242.275-.368.422-.243.283-.494.576-.739.81-.398.378-.877.705-1.513.772a1.42 1.42 0 0 1-1.445-.83c-.27-.608-.352-1.395-.329-2.21.024-.826.16-1.73.365-2.606.206-.875.486-1.733.805-2.466.315-.722.687-1.364 1.094-1.772.486-.485 1.331-.79 2.235-.98.932-.196 2.03-.292 3.119-.292 1.089 0 2.187.096 3.119.292zm-6.032.979c-.877.185-1.469.443-1.733.708-.276.276-.587.783-.885 1.465a13.748 13.748 0 0 0-.748 2.295 12.351 12.351 0 0 0-.339 2.406c-.022.755.062 1.368.243 1.776a.42.42 0 0 0 .426.24c.327-.034.61-.199.929-.502.212-.202.4-.423.615-.674.133-.156.276-.323.44-.505C4.861 9.97 5.978 9.026 8 9.026s3.139.943 3.965 1.855c.164.182.307.35.44.505.214.25.403.472.615.674.318.303.601.468.929.503a.42.42 0 0 0 .426-.241c.18-.408.265-1.02.243-1.776a12.354 12.354 0 0 0-.339-2.406 13.753 13.753 0 0 0-.748-2.295c-.298-.682-.61-1.19-.885-1.465-.264-.265-.856-.523-1.733-.708-.85-.179-1.877-.27-2.913-.27-1.036 0-2.063.091-2.913.27z'/><path d='M11.5 6.026a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm-1 1a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm2 0a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm-1 1a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm-7-2.5h1v3h-1v-3z'/><path d='M3.5 6.526h3v1h-3v-1zM3.051 3.26a.5.5 0 0 1 .354-.613l1.932-.518a.5.5 0 0 1 .258.966l-1.932.518a.5.5 0 0 1-.612-.354zm9.976 0a.5.5 0 0 0-.353-.613l-1.932-.518a.5.5 0 1 0-.259.966l1.932.518a.5.5 0 0 0 .612-.354z'/></svg>");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    position: relative;
    fill: grey;
}

// Animaçao dos icones
.icon:hover {
    animation: icon-animation 1s;
}

@keyframes icon-animation {
    0% {
        transform: translateY(0px);
        transform: scale(1.1);
    }
    50% {}
    100% {
        transform: scale(1.3);
    }
}

//Carregando icones
.icon-painel {
    background-image: url("/assets/icons/painel.svg");
    filter: opacity(0.2);
}

.icon-med-numeros {
    background-image: url("/assets/icons/med_numeros.svg");
    filter: opacity(0.2);
}

.icon-buscador {
    background-image: url("/assets/icons/buscador.svg");
    filter: opacity(0.2);
}

.icon-dcgs {
    background-image: url("/assets/icons/dcgs.svg");
    filter: opacity(0.2);
}

//icone envelope contatos
.bi-envelope-fill {
    width: 1em;
    height: 2em;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    position: absolute;
    flex-direction: row-reverse;
    align-items: center;
    top: 25px;
}

//icone direm estilizando
.direm>img {
    height: 80px;
    position: absolute;
    width: auto;
    align-content: flex-start;
    align-items: center;
    display: flex;
}

//display das marcas
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 100px;
    grid-row-gap: 1em;
    position: absolute;
    right: 140px;
}

//icone inteqs estilizando
.inteqs>img {
    display: grid;
    height: 75px;
    width: auto;
    position: absolute;
}

//marca opas estilizando
.opas>img {
    display: grid;
    height: 70px;
    width: auto;
    position: absolute;
}

//marca abem estilizando
.abem>img {
    display: grid;
    height: 80px;
    width: auto;
    position: absolute;
}

// }
//header para a versao menor que 1100px
.header-mobile {
    display: none;
}

@media screen and (max-width:1100px) {
    .abem {
        display: none;
    }
    .wrapper {
        right: 60px;
    }
    .nav-link.active .nomepi {
        display: none;
    }
}

//header para a versao menor que 950px
@media screen and (max-width:950px) {
    .opas {
        display: none;
    }
    .wrapper {
        // right: -80px;
        overflow-x: hidden;
        overflow-y: hidden;
        // position: relative;
    }
}

//header para versão menor que 920px
@media screen and (max-width:920px) {
    .direm {
        // height: 80px;
        // width: auto; 
        // left:35%;
        // margin-left:-50px;      
        display: none;
    }
    .wrapper {
        display: none;
    }
    .inteqs {
        display: none;
    }
    .linha-vertical {
        display: none;
    }
    .flex {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: repeat(4, 6fr);
        grid-column-gap: 2px;
        right: 1px;
        position: absolute;
    }
    .header-mobile {
        display: flex;
    }
    .direm-mobile {
        max-width: 100px;
        padding: 0px;
        display: flex;
    }
    .direm-mobile>img {
        height: 70px;
        left: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .inteqs-mobile>img {
        //max-width: 70%; 
        height: 60px;
        display: block;
        padding-top: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
    }
    .opas-mobile>img {
        //max-width: 55%;
        height: 55px;
        display: block;
        padding-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .abem-mobile>img {
        //max-width: 30%;
        height: 60px;
        display: block;
        padding-top: 15px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width:760px) {
    .nav-link.active .nomepi {
        display: none;
    }
}

//header para versao ceular menor que
@media screen and (max-width:680px) {
    .abem-mobile {
        display: none;
    }
    .flex {
        right: 1px;
    }
    .nav-link.active .nomepi {
        display: none;
    }
}

//header para a versao menor que 600px
@media screen and (max-width:600px) {
    .opas-mobile {
        display: none;
    }
    .flex {
        right: 1px;
    }
    .nav-link.active .nomepi {
        display: none;
    }
}

//header para a versao menor que 4600px
@media screen and (max-width:460px) {
    .inteqs-mobile {
        display: none;
    }
    .flex {
        right: 1px;
    }
    .nav-link.active .nomepi {
        display: none;
    }
}

//Estilizando tab-nav-------------------------------------------------------------------
.nav-tabs .nav-link.active {
    position: relative;
    border: 2px solid white;
    border-right: 2px solid white;
    border-left: 2px solid white;
    border-bottom: 0px;
    background-color: #0d542a;
    border-radius: 15px 15px 0px 0px;
    filter: opacity(1);
}

//Icone ativo branco
.nav-link.active>svg {
    filter: opacity(1);
}

//Tirando borda de tab não selecionada
.nav-tabs a {
    outline: none;
    outline: 0;
    border: transparent;
    cursor: default;
}


/* -- tentando auemntar bordar de baixo 
.nav-tabs {
    border-bottom:2px solid white;
    
}
*/

.nav-tabs .nav-item {
    padding: 0px;
}

//Arredondando bordas
.nav-link.active::before,
.nav-link.active::after {
    content: "";
    position: absolute;
    height: 10px;
    width: 20px;
    bottom: 0;
}

//Arredondando bordas
.nav-link.active::after {
    right: -21px;
    border-left: 2px solid white;
    border-radius: 0 0 0 10px;
    -moz-border-radius: 0 0 0 10px;
    -webkit-border-radius: 0 0 0 10px;
    -webkit-box-shadow: -10px 0 0 0 #0d542a;
    box-shadow: -10px 0 0 0 #0d542a;
}

//Arredondando bordas
.nav-link.active::before {
    left: -20px;
    border-right: 2px solid white;
    border-radius: 0 0 10px 0;
    -moz-border-radius: 0 0 10px 0;
    -webkit-border-radius: 0 0 10px 0;
    -webkit-box-shadow: 10px 0 0 0 #0d542a;
    box-shadow: 10px 0 0 0 #0d542a;
}

//fontes
.nav-item span {
    display: none;
}

//Mostrar texto pra aba ativa
.nav-link.active>span {
    color: white;
    font-size: 0.5em;
    width: 64px;
    display: block;
    text-align: center;
    position: absolute;
}

.nav-item>li>span {
    text-align: center;
}

// linha do nav
.linha-vertical {
    height: 50px;
    /*Altura da linha*/
    width: auto;
    border-left: 1px solid white;
    /* Adiciona borda esquerda na div como ser fosse uma linha.*/
    position: absolute;
    left: 95%;
    margin-left: -3px;
    top: 48px;
}