<h1></h1>
<section class="container row-wrap">
    <div class="item1">
        <div class="busca-text">
            <input class="form-control form-control-sm" type="text" placeholder="Digite o nome sigla ou IES"
                aria-label="Buscar">
        </div>
    </div>
    <div id="botao">
        <input type="submit" name="botao" value="BUSCAR" class="btn btn-unique btn-rounded btn-sm my-0 botaoEnviar" />
    </div>
    <!-- <button class="btn btn-unique btn-rounded btn-sm my-0" type="submit">Search</button>
    <button type="submit" name="botao" value="BUSCAR" class="btn btn-unique btn-rounded btn-sm my-0 botaoEnviar">BUSCAR</button> -->

    <div class="row"></div>
    <div class="item2">

        <div class="busca-text">
            <span class="titulos">Pesquisa Avançada</span>
            <input class="form-control form-control-sm" type="text" placeholder="Digite o nome sigla ou IES"
                aria-label="Buscar">
        </div>

    </div>
    <div class="item3">
        <span class="titulos">Situação</span>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
            <label class="custom-control-label" for="customSwitch1"></label>
            <span class="cursos-ativos">Selecionar apenas cursos ativos</span>
        </div>
    </div>
    <div class="row"></div>
    <div class="item4">
        <span class="titulos">Natureza Juridica</span>
        <!-- Default unchecked -->
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
            <label class="custom-control-label" for="defaultUnchecked">Default unchecked</label>
        </div>



    </div>
    <div class="item5">Org academica
        <!-- Default unchecked -->
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
            <label class="custom-control-label" for="defaultUnchecked">Default unchecked</label>
        </div>
    </div>
    <div class="row"></div>
    <div class="item6">Conceito do curso

        <label for="customRange2">Example range</label>
        <input type="range" class="custom-range" min="0" max="5" id="customRange2">

    </div>
    <div class="item7">Conceito Enade

        <label for="customRange2">Example range</label>
        <input type="range" class="custom-range" min="0" max="5" id="customRange2">
    </div>
    <div class="item8">Ano Funcionamento</div>
    <div class="row"></div>
    <div class="item9">Resultados

    </div>
</section>


<!-- <div class="wrapper">
    <div class="one">One</div>
    <div class="two">Two</div>
    <div class="three">Three</div>
    <div class="four">Four</div>
    <div class="five">Five</div>
    <div class="six">Six</div>
  </div> -->