// *{
//     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
// }
.row-nowrap {
    flex-flow: row nowrap;
}

.column-nowrap {
    flex-flow: column nowrap;
    // align-items: flex-start;
    // position: relative;
}

.row-wrap {
    flex-flow: row wrap;
}


/* Flex Container */

.container {
    // width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    border: none;
    grid-column-start: 5;
    position: relative;
    // align-content: center;
    // align-self: center ;
}


/* Flex Item */

.item1 {
    /* O flex: 1; é necessário para que cada item se expanda ocupando o tamanho máximo do container. */
    //width: 1100px;
    width: 100%;
    flex: 1;
    margin: 5px;
    text-align: center;
    font-size: 1.5em;
    height: 32px;
}
.help-bt{
    background: #d71a20;
    border-radius: 15px;
    position: relative;
    width: 23px;
    height: 23px;
    text-align: center;
    
}
.fa-question{
    position: relative;
    color: white;
    // left: 260px;
    // top: 10px;
    }
.geral-info-sit{
    left: 275px;
    top: 10px;
    width: 0px;
    position: relative;
}

.geral-info-pesq{
    left: -80px;
    top: 10px;
    width: 0px;
    position: relative;

}
.geral-info-nat{
    left: 275px;
    top: 90px;
    width: 0px;
    position: relative;
}

.geral-info-org{
    left: -585px;
    top: 90px;
    width: 00px;
    position: relative;

}
.geral-info-cc{
    left: -470px;
    top: 170px;
    width: 00px;
    position: relative;

}
.geral-info-ce{
    left: -20px;
    top: 170px;
    width: 00px;
    position: relative;

}
.geral-info-ano{
    left: 275px;
    top: 170px;
    width: 00px;
    position: relative;

}
.busca-text input[type=text]:focus:not([readonly]) {
    border: 1px solid #e1e31d;
    box-shadow: none;
    background: #023a1d;
    padding: 10px;
    // font-size: 18px;
    color: white;
}

.busca-text {
    align-self: center;
    width: 95%;
    border-radius: 15px;
}

.form-control {
    background: #023a1d;
    border: none;
    border-radius: 10px;
    height: 32px;
}

 ::-webkit-input-placeholder {
    font-size: 16px;
    color: white;
}

#botao {
    text-align: center;
}

.botaoEnviar {
    background: #023a1d;
    height: 32px;
    width: 100px;
    position: relative;
    border: none;
    text-align: center;
    font-size: 15px;
    color: white;
    top: 5px;
    right: 5px;
    border-radius: 10px;
}

// .botaoEnviar.click{
//     filter: opacity(0.5);
//     border: 1px solid #e1e31d; 
//     box-shadow:none;
//     border: none;
// }
.btnEnviar input[type=submit]:focus:not([readonly]) {
    filter: opacity(0.5);
    border: 1px solid #e1e31d;
    box-shadow: none;
}

.item2 {
    /* O flex: 1; é necessário para que cada item se expanda ocupando o tamanho máximo do container. */
    flex: 1;
    margin: 5px;
    align-content: center;
    font-size: 1.5em;
    min-width: 300px;
    max-width: auto;
    height: 70px;
    text-align: start;
}

.titulos {
    font-size: 20px;
    align-items: flex-start;
    color: white;
    position: relative;
    left: 10px;
}

.item3 {
    min-width: 300px;
    max-width: auto;
    margin: 5px;
    text-align: start;
    font-size: 1.5em;
}

.custom-control-label {
    // line-height:21px;
    height: 32px;
    font-size: 16px;
    color: white;
}

.custom-control {
    background: #023a1d;
    border-radius: 10px;
    height: 32px;
}

input+label {
    top: 3px;
    left: 6px;
    height: 32px;
}

input:checked+.custom-control-label::after {
    background: #e1e31d;
    border: none;
    box-shadow: none;
}

input:checked+.custom-control-label::before {
    background: #e1e31d;
    opacity: 0.6;
    border: none;
    box-shadow: none;
}

.cursos-ativos {
    font-size: 16px;
    align-items: flex-start;
    color: white;
    position: relative;
    left: 10px;
    top: -5px;
}

.item4 {
    /* O flex: 1; é necessário para que cada item se expanda ocupando o tamanho máximo do container. */
    width: 300px;
    // flex: 1;
    margin: 5px;
    text-align: start;
    font-size: 1.5em;
    height: 70px;
    float: left;
}

input:checked+.lbl::after {
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    font-size: 12px;
    content: "\f00c";
    color: #023a1d;
    align-items: center;
    justify-content: center;
    display: flex;
}

.checkbox {
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
}

.geral {
    background: #023a1d;
    border: none;
    border-radius: 10px;
    height: 32px;
    position: relative;
}

.form-check {
    left: 5px;
    top: -5px;
}

.check2 {
    left: 30px;
}

.natureza {
    top: 1px;
    align-items: flex-start;
    color: white;
    position: relative;
}

.item5 {
    /* O flex: 1; é necessário para que cada item se expanda ocupando o tamanho máximo do container. */
    min-width: 640px;
    max-width: auto;
    margin: 5px;
    text-align: start;
    font-size: 1.5em;
    flex: 1;
}

.check4 {
    left: 60px;
}

.check5 {
    left: 120px;
}

.item6 {
    /* O flex: 1; é necessário para que cada item se expanda ocupando o tamanho máximo do container. */
    width: 38%;
    flex: 1;
    margin: 5px;
    text-align: start;
    font-size: 1.5em;
}

.item7 {
    /* O flex: 1; é necessário para que cada item se expanda ocupando o tamanho máximo do container. */
    width: 38%;
    // flex: 1;
    margin: 5px;
    text-align: start;
    font-size: 1.5em;
    
}

.item8 {
    /* O flex: 1; é necessário para que cada item se expanda ocupando o tamanho máximo do container. */
    width: 24%;
    // flex: 1;
    margin: 5px;
    text-align: start;
    font-size: 1.5em;
    
    
    }
.ano-funci input[type=text]:focus:not([readonly]) {
        border: 1px solid #e1e31d;
        box-shadow: none;
        background: #023a1d;
        padding: 10px;
        font-size: 20px;
        color: #e1e31d;
        font-weight: bold;
}
.ano-funci input[type=text]:enabled{
    border: 1px solid #e1e31d;
    box-shadow: none;
    background: #023a1d;
    padding: 10px;
    font-size: 20px;
    color: #e1e31d;
    text-align: center;
    font-weight: bold;
}
.ano-funci input[type=text]::placeholder{
    text-align: start;
    
}
.form-ano{
    line-height: 36px;
    height: 52px;
    width:120px;
    position: relative;
    
    
    }

.cont-ano{
    // text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    
    position: relative;
}

.item9 {
    /* O flex: 1; é necessário para que cada item se expanda ocupando o tamanho máximo do container. */
    // width: 30%;
    height: 210px;
    flex: 1;
    margin: 5px;
    text-align: start;
    font-size: 1.5em;
    // justify-self: center;
    // align-content: center;
    // text-align: center;
    // align-items: center;
}
th {
    font-size: 14px;
    font-weight: bold;
    justify-self: center;
    align-content: center;
    text-align: center;
    align-items: center;
}
 .pos{
    background:#023a1d;
    color: #e1e31d;
    width: 200px;
   
}
.tb-geral{
    height: 200px;
    justify-self: center;
    align-content: center;
    text-align: center;
    align-items: center;
}
.tabela-dados{

    width: 100%;
}
table {
    width: 100%;
    color: white;
    
  }
//   .mat-cell {
//     color: yellow;
// }
  mat-paginator{
    color: white;
  }
  element.weight{
      color: #e1e31d;
  }

h1 {
    text-align: center;
    margin: 20px 0 0 0;
    font-size: 1.25em;
    font-weight: normal;
}

body {
    color: #333;
}

// We need to use ::ng-deep to overcome view encapsulation
::ng-deep {
    .custom-slider .ng5-slider {
        margin-top: 10px;
    }
    .custom-slider .ng5-slider .ng5-slider-bar {
        background: #808a84;
        height: 6px;
    }
    .custom-slider .ng5-slider .ng5-slider-selection {
        background: #c3081c;
    }
    .custom-slider .ng5-slider-inner-tooltip {
        display: none !important;
    }
    .custom-slider .ng5-slider .ng5-slider-pointer {
        width: 15px;
        height: 15px;
        top: -5px;
        /* to remove the default positioning */
        bottom: auto;
        background-color: #c3081c;
        border-radius: 15px;
    }
    .custom-slider .ng5-slider .ng5-slider-pointer:after {
        display: none;
    }
    .custom-slider .ng5-slider .ng5-slider-bubble {
        bottom: 14px;
    }
    .custom-slider .ng5-slider .ng5-slider-limit,
    .custom-slider .ng5-slider .ng5-slider-model-value,
    .custom-slider .ng5-slider .ng5-slider-model-high {
        display: none !important;
    }
    .custom-slider .ng5-slider .ng5-slider-tick {
        width: 1px;
        height: 10px;
        margin-left: 4px;
        border-radius: 0;
        background: none;
        top: -1px;
        color: white;
        font-size: 11px;
    }
    .custom-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
        background: none;
    }
}

.backgroundInput {
    background-color:#023a1d;
    border: none;
    border-radius: 10px;
}