*{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}

.row-nowrap {
	flex-flow: row nowrap;
}
.column-nowrap {
    flex-flow: column nowrap;
    // align-items: flex-start;
    // position: relative;
}
.row-wrap {
	flex-flow: row wrap;
}

/* Flex Container */
.container {
    // width: 100%;
    height: 100%;
    max-width: 1200px;
	margin: 0 auto;
	display: flex;
    border: none;
    grid-column-start: 5;
    position: relative;
    // align-content: center;
    // align-self: center ;
    
    
}
/* Flex Item */
 .item1 {
    /* O flex: 1; é necessário para que cada item se expanda ocupando o tamanho máximo do container. */
    //width: 1100px;
    width: 100%;
	flex: 1;
    margin: 5px;
    text-align: center;
    font-size: 1.5em;
    height: 30px;
    
}

.busca-text input[type=text]:focus:not([readonly]) {
    border: 1px solid #e1e31d; 
    box-shadow:none;
    background: #002708;
    // font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
  }

  .busca-text{
    align-self: center ;
    width: 95%;
    border-radius: 15px;
    

  }
 .form-control{
    background: #002708;
    border: none; 
    border-radius: 10px;
    height: 30px;
  }
  

  ::-webkit-input-placeholder{
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
  }


    #botao{ text-align: center ;
        
    }
    .botaoEnviar{
        background: #002708;
        height: 30px;
        width: 100px;
        position: relative; 
        border: none; 
        text-align: center;
        font-size: 15px;
        color: white;
        top: 5px;
        right: 5px;
        border-radius: 10px;
    }

    // .botaoEnviar.click{
    //     filter: opacity(0.5);
    //     border: 1px solid #e1e31d; 
    //     box-shadow:none;
    //     border: none;
    // }

    .btnEnviar input[type=submit]:focus:not([readonly]) {
        filter: opacity(0.5);
        border: 1px solid #e1e31d; 
        box-shadow:none;
    }

.item2 {
	/* O flex: 1; é necessário para que cada item se expanda ocupando o tamanho máximo do container. */
	flex: 1;
    margin: 5px;
    align-content: center;
    font-size: 1.5em;
    min-width: 300px;
    max-width: auto;
    height: 70px;
    text-align: start;
}

.titulos {  
    font-size: 20px;
    align-items: flex-start;
    color: white;
    position: relative;
    left: 10px;
}

.item3 {	
    min-width: 300px;
    max-width: auto;
    margin: 5px;
	text-align: start;
    font-size: 1.5em; 
}

.custom-control-label{
    // line-height:21px;
    height: 30px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.custom-control{
    background: #002708;
    border-radius: 10px;
    height: 30px;
}

input + label{
    top:3px;
    left: 6px;
    height: 30px;
}

input:checked + .custom-control-label::after{
    background: yellow;
    border: none; 
    box-shadow: none;
}
.cursos-ativos{
    font-size: 16px;
    align-items: flex-start;
    color: white;
    position: relative;
    left: 10px;
    top: -5px;
}

.item4 {
	/* O flex: 1; é necessário para que cada item se expanda ocupando o tamanho máximo do container. */
    width: 300px;
    // flex: 1;
    margin: 5px;
	text-align: start;
    font-size: 1.5em;
    height: 70px;
    float: left;
}
input:checked + .lbl::after{
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    font-size: 12px;
    content: "\f00c";
    color:  #002708;
    align-items: center;
    justify-content: center;
    display: flex;
}

.checkbox{
    align-items: center;
    justify-content: center;
    display: flex;  
    position: relative;
}
.geral{
    background: #002708;
    border: none; 
    border-radius: 10px;
    height: 30px;
    position: relative;
}

.form-check{
    left: 5px;
    top: -5px;
    
}

.check2{
left: 30px;
}

.natureza{
    top:1px;
    align-items: flex-start;
    color: white;
    position: relative;
   
}
.item5 {
	/* O flex: 1; é necessário para que cada item se expanda ocupando o tamanho máximo do container. */
    min-width: 640px;
    max-width: auto;
    margin: 5px;
	text-align: start;
    font-size: 1.5em; 
    flex: 1;
    
    
    
}
.check4{
     left: 60px;

    }

.check5{
    left: 120px;
    

    }   

.item6 {
	/* O flex: 1; é necessário para que cada item se expanda ocupando o tamanho máximo do container. */
    width: 35%;
    flex: 1;
	margin: 5px;
	text-align: start;
    font-size: 1.5em;
    
}
.item7 {
	/* O flex: 1; é necessário para que cada item se expanda ocupando o tamanho máximo do container. */
    width: 35%;
    // flex: 1;
	margin: 5px;
	text-align:start;
	font-size: 1.5em;
}
.item8 {
	/* O flex: 1; é necessário para que cada item se expanda ocupando o tamanho máximo do container. */
    width: 30%;
    height: 70px;
    // flex: 1;
	margin: 5px;
	text-align: start;
	font-size: 1.5em;
}

.item9 {
	/* O flex: 1; é necessário para que cada item se expanda ocupando o tamanho máximo do container. */
    // width: 30%;
    height: 210px;
    flex: 1;
	margin: 5px;
	text-align: start;
	font-size: 1.5em;
}

h1 {
	text-align: center;
	margin: 20px 0 0 0;
	font-size: 1.25em;
	font-weight: normal;
}

body {
	font-family: monospace;
	color: #333;
}