<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="dash">
    <br>
    <section class="container  wrap">
        <div class="item1">

            <div class=grid-box1>
                <div class="col area">
                    <div class="dados-curso">
                        <div class="row-2 area-curso bl-cima">
                            <span class="titulos" id="cregiao">Cursos por Região</span>
                            <!-- Nome altera regiao mun -->
                        </div>
                        <div class="row-2 area-curso bl-meio">
                            <div class="row-2 regiao">
                                Centro-Oeste =
                                <span href="#" class="numero" name="">37</span>
                            </div>
                            <div class="row-2 regiao">
                                Nordeste =
                                <span href="#" class="numero" name="">80</span>
                            </div>
                            <div class="row-2 regiao">
                                Norte =
                                <span href="#" class="numero" name="">22</span>
                            </div>
                            <div class="row-2 regiao">
                                Sudeste =
                                <span href="#" class="numero" name="">145</span>
                            </div>
                            <div class="row-2 regiao">
                                Sul =
                                <span href="#" class="numero" name="">54</span>
                            </div>
                        </div>
                        <div class="row-2 area-curso bl-meio">
                            <div class="row-2">
                                <br>
                                <span class="titulos" id="lcursos">Localização dos Cursos</span>
                            </div>
                        </div>
                        <div class="row-2 area-curso bl-fim">
                            <div class="row-2 cap-interior">
                                Capitais =
                                <span href="#" class="numero" name="">98</span> Interior =
                                <span href="#" class="numero" name="">240</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-6 area mapa">
                    <div id="mapPlot"></div>
                </div>
                <div class="col-2 area">
                    <div class="wrapper icons  pull-right">

                        <div class="filtro">
                            <span>FILTRO</span>
                        </div>
                        <button class="btn btn-icone0 show active" id="cursos" matTooltip="Cursos" matTooltipClass="example-tooltip-red" aria-label="Button that displays a tooltip when focused or hovered over" matTooltipPosition="left">
                            <img src="/assets/icons/cursos.png" class="iconesc icones-grid">
                        </button>
                        <div class="btn btn-icone0" matTooltip="Cursos" matTooltipClass="example-tooltip-red" aria-label="Button that displays a tooltip when focused or hovered over" matTooltipPosition="left">
                            <img src="/assets/icons/cursosmilhao.png" class="iconescm icones-grid">
                        </div>
                        <div class=" btn btn-icone0" matTooltip="Cursos" matTooltipClass="example-tooltip-red" aria-label="Button that displays a tooltip when focused or hovered over" matTooltipPosition="left">
                            <img src="/assets/icons/vagas.png" class="icones icones-grid">
                        </div>
                        <div class="btn btn-icone0" matTooltip="Cursos" matTooltipClass="example-tooltip-red" aria-label="Button that displays a tooltip when focused or hovered over" matTooltipPosition="left">
                            <img src="/assets/icons/inscritos.png" class="icones icones-grid">
                        </div>
                        <div class="btn btn-icone0" matTooltip="Cursos" matTooltipClass="example-tooltip-red" aria-label="Button that displays a tooltip when focused or hovered over" matTooltipPosition="left">
                            <img src="/assets/icons/ingressos.png" class="icones icones-grid">
                        </div>
                        <div class="btn btn-icone0" matTooltip="Cursos" matTooltipClass="example-tooltip-red" aria-label="Button that displays a tooltip when focused or hovered over" matTooltipPosition="left">
                            <img src="/assets/icons/matriculados.png" class="icones icones-grid">
                        </div>
                        <div class="btn btn-icone0" matTooltip="Cursos" matTooltipClass="example-tooltip-red" aria-label="Button that displays a tooltip when focused or hovered over" matTooltipPosition="left">
                            <img src="/assets/icons/concluintes.png" class="icones icones-grid">
                        </div>
                    </div>
                </div>


            </div>

        </div>
        <div class="item2 ">

            <div class="row-2 grafico1 p-3 ">
                <!-- Nome altera regiao mun -->
                <div id="pieplot"></div>
            </div>

        </div>

        <div class="item3">

            <div class="row-2 grafico1 p-3 ">
                <!-- Nome altera regiao mun -->
                <div id="pieplot2"></div>
            </div>


        </div>
    </section>
</div>