<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="dash">
    <br>
    <section class="container  wrap">
        <div class="item1">

            <div class=grid-box1>
                <div class="col area">
                    <div class="dados-curso">
                        <div class="row-2 area-curso bl-cima">
                            <span class="titulos" id="cregiao">{{nameDiv}} {{textCursos}}</span>
                            <!-- Nome altera regiao mun -->
                        </div>
                        <div class="row-2 area-curso bl-meio">
                            <div *ngFor="let item of data" class="row-2 regiao">
                                {{item.municipio}} =
                                <span href="#" class="numero" name="">{{item.qt_cursos}}</span>
                            </div>
                        </div>
                        <div class="row-2 area-curso bl-meio">
                            <div class="row-2">
                                <br>
                                <span class="titulos" id="lcursos">Localização dos Cursos</span>
                            </div>
                        </div>
                        <div class="row-2 area-curso bl-fim">
                            <div class="row-2 cap-interior">
                                <div *ngFor="let item of localizacao">
                                    {{item.localizacao}} =
                                    <span href="#" class="numero" name="">{{item.n}}</span>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-6 area mapa">
                    <div id="mapPlot"></div>
                </div>
                <div class="col-2 area">
                    <div class="wrapper icons  pull-right">

                        <div class="filtro">
                            <span>FILTRO</span>
                        </div>

                        <mat-button-toggle-group #group="matButtonToggleGroup" class="bt-group" name="fontStyle" aria-label="Font Style" [vertical]="mobileFilter" [value]="matButton" (change)="onValChange(group.value)">

                            <mat-button-toggle class="btn-icone0" matTooltip="Cursos" matButton matTooltipClass="example-tooltip-red" aria-label="" matTooltipPosition="left" id="cursos" value='qt_cursos'>
                                <img src="/assets/icons/NEW_CURSOS.png" class="iconesc icones-grid">
                            </mat-button-toggle>

                            <mat-button-toggle class="btn-icone0 disabled" disabled matTooltip="Em breve" matTooltipClass="example-tooltip-red" aria-label="" matTooltipPosition="left">
                                <img src="/assets/icons/NEW_POP_CURSO.png" class="iconescm icones-grid">
                            </mat-button-toggle>

                            <mat-button-toggle class="btn-icone0" matTooltip="Vagas Oferecidas" matButton matTooltipClass="example-tooltip-red" aria-label="" matTooltipPosition="left" value='qt_ingresso_total'>
                                <img src="/assets/icons/NEW_VAGAS.png" class="icones icones-grid">
                            </mat-button-toggle>

                            <mat-button-toggle class="btn-icone0" matTooltip="Inscritos" matTooltipClass="example-tooltip-red" aria-label="" matTooltipPosition="left" value='qt_inscrito_total'>
                                <img src="/assets/icons/NEW_INSCRITOS.png" class="icones icones-grid">
                            </mat-button-toggle>

                            <mat-button-toggle class="btn-icone0" matTooltip="Ingressos" matTooltipClass="example-tooltip-red" aria-label="" matTooltipPosition="left" value='qt_ingresso_total'>
                                <img src="/assets/icons/NEW_INGRESSOS.png" class="icones icones-grid">
                            </mat-button-toggle>

                            <mat-button-toggle class="btn-icone0" matTooltip="Matriculados" matTooltipClass="example-tooltip-red" aria-label="" matTooltipPosition="left" value='qt_matricula_total'>
                                <img src="/assets/icons/NEW_MATRICULADOS.png" class="icones icones-grid">
                            </mat-button-toggle>

                            <mat-button-toggle class="btn-icone0" matTooltip="Concluintes" matTooltipClass="example-tooltip-red" aria-label="" matTooltipPosition="left" value='qt_concluinte_total'>
                                <img src="/assets/icons/NEW_CONCLUINTES.png" class="icones icones-grid">
                            </mat-button-toggle>

                            <!-- <div class="btn-icone0 show active" id="cursos" matTooltip="Cursos" matButton matTooltipClass="example-tooltip-red" aria-label="Button that displays a tooltip when focused or hovered over" matTooltipPosition="left" value='qt_vaga_total_2018' (click)="updateMetric($event)"> -->
                            <!-- </div> -->

                            <!-- <mat-button-toggle class=""  value=''></mat-button-toggle>
                        <div class="btn-icone0 " id="" matTooltip="Cursos/Milhão Hab." matTooltipClass="example-tooltip-red" aria-label="" matTooltipPosition="left">
                            <img src="/assets/icons/NEW_POP_CURSO.png" class="iconescm icones-grid">
                        </div>

                        <mat-button-toggle class=""  value=''></mat-button-toggle>
                        <div class="btn-icone0 " id="cursos" matTooltip="Vagas" matButton matTooltipClass="example-tooltip-red" aria-label="" matTooltipPosition="left">
                            <img src="/assets/icons/NEW_VAGAS.png" class="icones icones-grid">
                        </div>

                        <mat-button-toggle class="" value=''></mat-button-toggle>
                        <div class="btn-icone0" matTooltip="Inscritos" matTooltipClass="example-tooltip-red" aria-label="" matTooltipPosition="left">
                            <img src="/assets/icons/NEW_INSCRITOS.png" class="icones icones-grid">
                        </div>

                        <mat-button-toggle class="" value=''></mat-button-toggle>
                        <div class="btn-icone0" matTooltip="Ingressos" matTooltipClass="example-tooltip-red" aria-label="" matTooltipPosition="left">
                            <img src="/assets/icons/NEW_INGRESSOS.png" class="icones icones-grid">
                        </div>

                        <mat-button-toggle class="" value=''></mat-button-toggle>
                        <div class="btn-icone0" matTooltip="Matriculados" matTooltipClass="example-tooltip-red" aria-label="" matTooltipPosition="left">
                            <img src="/assets/icons/NEW_MATRICULADOS.png" class="icones icones-grid">
                        </div>

                        <mat-button-toggle class="" value=''></mat-button-toggle>
                        <div class="btn-icone0" matTooltip="Concluintes" matTooltipClass="example-tooltip-red" aria-label="" matTooltipPosition="left">
                            <img src="/assets/icons/NEW_CONCLUINTES.png" class="icones icones-grid">
                        </div> -->

                        </mat-button-toggle-group>


                        <!-- <div class="btn btn-icone0 show active" id="cursos" matTooltip="Cursos" matButton matTooltipClass="example-tooltip-red" aria-label="Button that displays a tooltip when focused or hovered over" matTooltipPosition="left" value='qt_vaga_total_2018' (click)="updateMetric($event)">
                            <img src="/assets/icons/NEW_CURSOS.png" class="iconesc icones-grid">
                        </div>

                        <div class="btn btn-icone0" matDisabled matTooltip="Cursos/Milhão Hab." matTooltipClass="example-tooltip-red" aria-label="" matTooltipPosition="left">
                            <img src="/assets/icons/NEW_POP_CURSO.png" class="iconescm icones-grid">
                        </div>
                        
                        <div class=" btn btn-icone0" matTooltip="Vagas" matButton matTooltipClass="example-tooltip-red" aria-label="Button that displays a tooltip when focused or hovered over" matTooltipPosition="left"  (click)="updateMetric($event)">
                            <img src="/assets/icons/NEW_VAGAS.png" class="icones icones-grid">
                        </div>
                        <div class="btn btn-icone0" matTooltip="Inscritos" matTooltipClass="example-tooltip-red" aria-label="Button that displays a tooltip when focused or hovered over" matTooltipPosition="left">
                            <img src="/assets/icons/NEW_INSCRITOS.png" class="icones icones-grid">
                        </div>
                        <div class="btn btn-icone0" matTooltip="Ingressos" matTooltipClass="example-tooltip-red" aria-label="Button that displays a tooltip when focused or hovered over" matTooltipPosition="left">
                            
                            <img src="/assets/icons/NEW_INGRESSOS.png" class="icones icones-grid">
                        </div>
                        <div class="btn btn-icone0" matTooltip="Matriculados" matTooltipClass="example-tooltip-red" aria-label="Button that displays a tooltip when focused or hovered over" matTooltipPosition="left">
                           
                            <img src="/assets/icons/NEW_MATRICULADOS.png" class="icones icones-grid">
                        </div>
                        <div class="btn btn-icone0" matTooltip="Concluintes" matTooltipClass="example-tooltip-red" aria-label="Button that displays a tooltip when focused or hovered over" matTooltipPosition="left">
                            
                            <img src="/assets/icons/NEW_CONCLUINTES.png" class="icones icones-grid">
                        </div> -->
                    </div>
                </div>


            </div>

        </div>
        <div class="item2 ">

            <div class="row-2 grafico1 p-3 ">
                <!-- Nome altera regiao mun -->
                <div id="pieplot"></div>
            </div>

        </div>

        <div class="item3">

            <div class="row-2 grafico1 p-3 ">
                <!-- Nome altera regiao mun -->
                <div id="pieplot2"></div>
            </div>


        </div>
    </section>
</div>