<div class="info-indicadores">
    <div class="icon-container">
        <img src="/assets/icons/NEW_CURSOS.png" class="icone4">
    </div>
    <!-- <span href="#" class="numero2" name="">6575</span> -->
    <span href="#" class="numero2" name="">{{numberWithSpaces(data.qt_cursos)}}</span>
    <span class="nome1">Cursos</span>
</div>
<div class="info-indicadores">
    <div class="icon-container">
        <img src="/assets/icons/vagas.png" class="icone4">
    </div>
    <!-- <span href="#" class="numero2" name="">6575</span> -->
    <span href="#" class="numero2" name="">{{numberWithSpaces(data.qt_vagas_autorizadas)}}</span>
    <span class="nome1">Vagas Oferecidas</span>
</div>
<div class="info-indicadores">
    <div class="icon-container">
        <img src="/assets/icons/inscritos.png" class="icone4">
    </div>
    <!-- <span href="#" class="numero2" name="">6575</span> -->
    <span href="#" class="numero2" name="">{{numberWithSpaces(data.qt_inscrito_total)}}</span>
    <span class="nome1">Inscritos</span>
</div>

<div class="info-indicadores">
    <div class="icon-container">
        <img src="/assets/icons/ingressos.png" class="icone4">
    </div>
    <!-- <span href="#" class="numero2" name="">6575</span> -->
    <span href="#" class="numero2" name="">{{numberWithSpaces(data.qt_ingresso_total)}}</span>
    <span class="nome1">Ingressos</span>
</div>

<div class="info-indicadores">
    <div class="icon-container">
        <img src="/assets/icons/matriculados.png" class="icone4">
    </div>
    <!-- <span href="#" class="numero2" name="">6575</span> -->
    <span href="#" class="numero2" name="">{{numberWithSpaces(data.qt_matricula_total)}}</span>
    <span class="nome1">Matriculados</span>
</div>

<div class="info-indicadores">
    <div class="icon-container">
        <img src="/assets/icons/concluintes.png" class="icone4">
    </div>
    <!-- <span href="#" class="numero2" name="">6575</span> -->
    <span href="#" class="numero2" name="">{{numberWithSpaces(data.qt_concluinte_total)}}</span>
    <span class="nome1">Concluintes</span>
</div>
<div class="info-indicadores">
    <div class="icon-container">
        <img src="/assets/icons/docentes.png" class="icone4">
    </div>
    <!-- <span href="#" class="numero2" name="">6575</span> -->
    <span href="#" class="numero2" name="">{{numberWithSpaces(data.total_docentes)}}</span>
    <span class="nome1">Docentes</span>
</div>
<div class="info-indicadores">
    <span class="nome2">Taxa de Concorrência</span>
    <span href="#" class="numero2" name="">{{(+data.qt_inscrito_total/data.qt_vagas_autorizadas).toFixed(2)}}</span>
    <span class="nome3">Candidatos/Vaga</span> 
</div>
<div class="info-indicadores">
    <span class="nome2">Taxa de Ocupação</span>
    <span href="#" class="numero2" name="">{{(+data.qt_ingresso_total/data.qt_vagas_autorizadas*100).toFixed(2)}}%</span>
</div>
<div class="info-indicadores">
    <span class="nome2">Taxa de Sucesso</span>
    <span href="#" class="numero2" id="sucess" name="">{{(+data.tx_sucesso).toFixed(2)}}%</span>
</div>
<div class="info-indicadores">
    <span class="nome2">Relação Aluno/Docente</span>
    <span href="#" class="numero2" id="sucess" name="">{{(+data.aluno_docente).toFixed(2)}}</span>
</div>
