<div class="zs-container" #zsContainer>
    <div class="zs-header">
        <form class="example-form">
            <mat-form-field class="obs-mat-container example-full-width" [floatLabel]="floatLabel" [ngClass]="disabled ? 'disable-form-field' : ''">
                <input type="text" class="form-control inputDiv p-3" placeholder="Digite o nome, sigla, estado ou município da IES" #searchInput type="text" [id]="placeholder + 'Id'" [placeholder]="required ? placeholder + ' *' : placeholder" (keyup)="filter($event.target.value)"
                    (blur)="onBlur()" (keydown.enter)="
            $event.preventDefault(); getData($event.target.value)
          " (keydown.backspace)="erase()" [attr.aria-label]="placeholder" spellcheck="false" matInput (focus)="searchInput.select()" [matAutocomplete]="zsAuto" />

                <mat-autocomplete autoActiveFirstOption #zsAuto position="below" class="bigger-mat-ac" (optionSelected)="onSelect($event.option.value, null)">

                    <mat-table #table [dataSource]="rows" class="matTableAutocomplete">
                        <ng-container matColumnDef="sigla_da_ies">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome e Sigla da IES </th>
                            <td class="pos " mat-cell *matCellDef="let element " class="w-100">
                                {{element.sigla_da_ies}} - {{toTitleCase(element.nome_da_ies)}}
                                <small class="float-right">{{element.municipio}}/{{element.uf}}</small>
                            </td>
                        </ng-container>



                        <!--[routerLink]="['/buscador/', row.codigo_curso]"-->
                        <mat-option class="rowTable" *matRowDef="let row; columns: columns" [routerLink]="['/buscador/', row.codigo_curso]" [value]="row">
                            <mat-row></mat-row>
                        </mat-option>
                    </mat-table>
                </mat-autocomplete>
            </mat-form-field>
        </form>
    </div>
</div>