<!-- <div class="btn">
        <span class="fas fa-bars"></span>
    </div>

    <nav class="sidebar">
        <div class="text">BRASIL

        </div> -->


<!--<div class="btn">
        <div class="wrapper marcador4 align-items-start">
            <span class="fas fa-bars" for="check"></span>
            <div class="text">SELECIONE O ESTADO
            </div>
        </div>
    </div> -->
<div class="sidebar p-2">
    <div class="mb-4">
        <button mat-button class="btn">
            <span class="fas fa-bars" (click)="_sidebarService.toggle()"></span>
           
        </button>
        <span class="text-white ml-2">SELECIONE O ESTADO</span>
    </div>

    <button class="btnFilter panelTitle  px-4" mat-button [routerLink]="'/'" [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="'active'"> Brasil</button>
    <mat-accordion [multi]="false">
        <mat-expansion-panel *ngFor="let regiao of stateOptions" [expanded]="openedModal(regiao)">
            <mat-expansion-panel-header class="headerModal">
                <mat-panel-title class="panelTitle">
                    {{regiao.nome}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="" *ngIf="regiao.estados">
                <button class="btnFilter btn mb-1" mat-button [routerLink]="['/', estado.sigla]" [routerLinkActive]="'active'" *ngFor="let estado of sortData(regiao.estados, 'nome')">{{estado.nome}}</button>
            </div>

        </mat-expansion-panel>
    </mat-accordion>


    <!--<ul>
            <li class="active">
                <a href="#" class="bra-btn">BRASIL
                    <i class="fas fa-caret-down cbrasil"></i>
                </a>
            <li class="active">
                <a href="#" class="oes-btn">Região Centro-Oeste
                    <i class="fas fa-caret-down coeste"></i>
                </a>
                <ul class="oes-show">
                    <li><a href="#">Distrito Federal</a></li>
                    <li><a href="#">Goiás</a></li>
                    <li><a href="#">Mato Grosso</a></li>
                    <li><a href="#">Mato Grosso do Sul</a></li>
                    <li><a href="#">Paraíba</a></li>
                    <li><a href="#">Pernambuco</a></li>
                    <li><a href="#">Píaui</a></li>
                    <li><a href="#">Rio Grande do Norte</a></li>
                    <li><a href="#">Sergipe</a></li>
                </ul>
            </li>

            <li>
                <a href="#" class="feat-btn">Região Nordeste
                    <i class="fas fa-caret-down first"></i>
                </a>
                <ul class="feat-show">
                    <li><a href="#">Alagoas</a></li>
                    <li><a href="#">Bahia</a></li>
                    <li><a href="#">Ceará</a></li>
                    <li><a href="#">Maranhão</a></li>
                    <li><a href="#">Paraíba</a></li>
                    <li><a href="#">Pernambuco</a></li>
                    <li><a href="#">Píaui</a></li>
                    <li><a href="#">Rio Grande do Norte</a></li>
                    <li><a href="#">Sergipe</a></li>
                </ul>
            </li>

            <li>
                <a href="#" class="serv-btn">Região Norte
                    <i class="fas fa-caret-down second"></i>
                </a>
                <ul class="serv-show">
                    <li><a href="#">Acre</a></li>
                    <li><a href="#">Amapá</a></li>
                    <li><a href="#">Amazonas</a></li>
                    <li><a href="#">Pará</a></li>
                    <li><a href="#">Rondônia</a></li>
                    <li><a href="#">Roraima</a></li>
                    <li><a href="#">Tocantins</a></li>
                </ul>
            </li>

            <li>
                <a href="#" class="sud-btn">Região Sudeste
                    <i class="fas fa-caret-down sud"></i>
                </a>
                <ul class="sud-show">
                    <li><a href="#">Espírito Santo</a></li>
                    <li><a href="#">Minas Gerais</a></li>
                    <li><a href="#">Rio de Janeiro</a></li>
                    <li><a href="#">São Paulo</a></li>
                </ul>
            </li>

            <li>
                <a href="#" class="sul-btn">Região Sul
                    <i class="fas fa-caret-down sul"></i>
                </a>
                <ul class="sul-show">
                    <li><a href="#">Paraná</a></li>
                    <li><a href="#">Santa Catarina</a></li>
                    <li><a href="#">Rio grande do Sul</a></li>
                </ul>
            </li>


        </ul>-->
</div>