<div class="sidebar">
    <div class="mb-4">
        <button mat-button class="btn btn-hbg" (click)="_sidebarService.toggle('sidenavOptions')">
            <mat-icon>menu</mat-icon>
           
        </button>
        <span class="text ml-2">SELECIONE O ESTADO</span>
    </div>

    <button class="btnFilter panelTitle  px-4" mat-button [routerLink]="'/painel'" [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="'active'" (click)="updateName()"> Brasil</button>

    <mat-accordion [multi]="false">
        <mat-expansion-panel *ngFor="let regiao of stateOptions" [expanded]="openedModal(regiao)">
            <mat-expansion-panel-header class="headerModal">
                <mat-panel-title class="panelTitle">
                    {{regiao.nome}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="" *ngIf="regiao.estados">
                <button class="btnFilter btn mb-1" mat-button [routerLink]="['/painel/', estado.sigla]" [routerLinkActive]="'active'" *ngFor="let estado of sortData(regiao.estados, 'nome')" (click)="updateName(estado)">{{estado.nome}}</button>
            </div>

        </mat-expansion-panel>
    </mat-accordion>
</div>