.btnFilter {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 4px;
    width: 100%;
    background: #023a1d;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    &:hover,
    &:focus,
    &:active {
        font-weight: bold;
        color: #e1e31d !important;
        background: #002708;
        border-radius: 50px 50px 50px 50px;
        border: none;
        border-radius: 25px !important;
    }
}

.material-icons {
    display: inline-flex;
    vertical-align: top;
}

.headerModal,
.panelTitle {
    min-height: 40px;
}

.headerModal:hover {
    font-weight: bold;
    color: #e1e31d;
    background: #002708;
    border-radius: 50px 50px 50px 50px;
    border: none;
    border-radius: 25px !important;
}

.active {
    font-weight: bold;
    color: #e1e31d !important;
    background: #002708;
    border-radius: 50px 50px 50px 50px;
    border: none;
    border-radius: 25px !important;
}

.panelTitle {
    color: white;
    font-size: 20px;
}

::ng-deep .mat-expansion-indicator:after {
    color: white !important;
}

// .btn.click span:before{
//   content: '\f00d';
// }
.sidebar {
    //position: fixed;
    position: absolute;
    width: 250px;
    height: 100%;
    //left: -250px; desktop bar ativo
    background: #023a1d;
    transition: left 0.4s ease;
}

.sidebar.show {
    left: 0px;
    position: absolute; //rolagem
}