#customLegend {
  position: absolute !important;
  top: 50px;
  left: 100px;
  background-color: white;
  border: 1px solid rgb(204, 203, 203);
  padding:2px;
  font-size: 12px;
}



.header-map{
     
    text-align:end;
    border-radius: 5px;
}


ng-template .div-iconsf{

    border-radius: 5px;
    background-color: #EDEDED;
    border-width: 9px !important;
    border-style: solid !important;
}



.nome-indf {
    position: relative;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600 !important;
    color: #023A1D;
    font-family: Roboto;
    //font-style: normal;    
    word-wrap: break-all !important;
    line-height: 0.5em !important;
    margin-left: 5px;
    
  
}


 ::ng-deep .mat-tab-label{
    
    padding-left: 5px;
    margin-left: 10px;
    background-color: #EDEDED;
    //color: grey;
    border-radius: 5px;
  }
  ::ng-deep .mat-tab-label-active{
    border-width: 2px;
    border-style: solid;
    border-color: #023A1D;
}
::ng-deep .mat-tab-labels{
    border-bottom: 0;
}
::ng-deep .mat-tab-header, .mat-tab-nav-bar {
    border-top: none !important;
   
}

@media screen and (max-width:400px) {
    .bt-tabs{
        width: 350px;
    }
}


