<div class="header-map">
    <div class="logo-bts">
        <!-- <div class="titulo-pag"> -->
        <!-- <span class="nome-indf titulo- "> {{metadata.title}}</span> <br>
            <span class="nome-indf titulo- "> {{metadata.subtitle}}</span> -->
        <!-- </div> 
        <mat-slide-toggle class="bt-relativo" [disabled]="true" labelPosition="before"> <span
                class="nome-indf doc-icon "> Relativo/Absoluto</span></mat-slide-toggle>-->
        <!-- <img src="/assets/icons/Direm-logo.png" class="doc-icon"> -->
    </div>
</div>

<mat-tab-group class="bt-tabs" mat-align-tabs="center" 
headerPosition="below" color="transparent" (selectedTabChange)="createPlots($event)">
    <mat-tab class="tab-style">
        <ng-template mat-tab-label class="div-iconsf">
            <img src="/assets/icons/Graf-direm.png" class="doc-icon">
            <span class="nome-indf doc-icon "> GRÁFICO</span>
        </ng-template>
        <ng-template matTabContent>
            <div id="plotData"></div>
            <ul id="customLegend"></ul>
        </ng-template>

        <!--<highcharts-chart class = "highchartsPlot" [Highcharts]="Highcharts" constructorType="chart"
         [oneToOne] = 'true' [options]="plotOptions" class = "w-100 pb-5"
        [(update)]="updatePlot"></highcharts-chart>-->
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label class="div-iconsf">
            <img src="/assets/icons/Brasil-direm.png" class="doc-icon">
            <span class="nome-indf doc-icon "> MAPA</span>
        </ng-template>
        <ng-template matTabContent>
            <div id="mapData2"></div>
            <div class="custom-slider2">
                <ng5-slider class = "slider" [(value)]="value" [options]="options" (userChange)="drawMap()">
                </ng5-slider>
             </div>
        </ng-template>

    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label class="div-iconsf">
            <img src="/assets/icons/Tab-direm.png" class="doc-icon">
            <span class="nome-indf doc-icon "> TABELA</span>
        </ng-template>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label class="div-iconsf">
            <img src="/assets/icons/Fonte-direm.png" class="doc-icon">
            <span class="nome-indf doc-icon "> FONTE</span>
        </ng-template>
    </mat-tab>



    <!--  <ul class="menu bottomRight">
        <li class="share top">
          <i class="fa fa-share-alt"></i>
          <ul class="submenu">
            <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" class="googlePlus"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </li>
      </ul>
     -->

    <!--   <mat-tab>
        <ng-template mat-tab-label class="div-iconsf">
        <img src="/assets/icons/Down-direm.png" class="doc-icon">
        <span class="nome-indf doc-icon "> DOWNLOAD</span>
    </ng-template>
    </mat-tab> -->

    <!-- <mat-tab>
    <ng-template mat-tab-label class="div-iconsf">
        <img src="/assets/icons/share-direm.png" class="doc-icon">
        <span class="nome-indf"> COMPARTILHAR</span>
    </ng-template>
</mat-tab> -->

</mat-tab-group>