// .row {
// 	flex-direction: row;
// }

// .container {
//     // max-width: 1000px;
//     width: 90%;
//     height: 100%;
//     position: relative;
//     margin: 0 auto;
//     display: flex;
//     // left: 200px;
//     justify-content: start;
//     // border: 1px solid #ccc;
//     // padding: 200px;
// }
// /* Flex Item */
// .item {
// 	/* O flex: 1; é necessário para que cada item se expanda ocupando o tamanho máximo do container. */
// 	flex: 1;
// 	margin: 5px;
// 	background: tomato;
// 	text-align: center;
// 	font-size: 1.5em;
// }

// // h1 {
// // 	text-align: start;
// // 	margin: 20px 0 0 0;
// // 	font-size: 1.25em;
// // 	font-weight: normal;
// // }

//  body {
//  	font-family: monospace;
// 	color: #333;
// overflow-y: hidden;
// overflow-x: hidden;
//  }
.wrapper-left{
    grid-template-rows: repeat(2, 1fr);
}
.painel-uni{
    background: white;
    border-radius: 10px;
    width: 240px;
    margin: 2px auto;
    height: 510px;
    top: 150px !important;
    position: absolute;

}

.wrapper-painel-uni{
    grid-template-rows: repeat(5, 1fr);
    grid-row-gap: 2px;
    margin-bottom: 2px!important;
   
   
}

.logo-uni{
    background: yellow;
    height: 25%;
}
.indetf{
    background: yellow;
    height: 30%;
}
.icons-dados{
    background: yellow;
    height: 30%;
}
.bts-mat{
    background: yellow;
    height: 15%;
}
span {
    bottom:35px;
    position: relative;
    font-weight: bold;
    font-size: 22px;
}
.start-xs{
    background: lawngreen;
    margin: 10px 10px 10px 10px;
    width: auto;
   
}
.coluns{
    background: red;
}
.box{
    background: blue;
    width: 250px;
    height: 540px;
}

.wrapper-geral{
    background: orange;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    display: grid;
    padding: 5px;
    margin-top: 40px !important;
    margin-left:5px !important;
    margin: 1px auto; //prolblema busca
    width: 77%;
    min-width: 200px;
    border-top: 2px solid white;
    
}

.col-itens{
    background: orchid;
   margin: 0px;
}