<div class="row start-xs wrapper-tela">
    <!-- <div class="col-xs-6 coluns"> -->
        <!-- <div class=""> -->
        <div class="box wrapper-left">
            <div class="bt-voltar">
                <button mat-button class="btn btn-voltar" type="button" (click)="goBack()">
					<span class = "">Voltar</span>
				</button>
            </div>
            <div class="painel-uni wrapper-painel-uni">
                <div class="logo-uni logo-wrapper">
                    <div class="div-logo-uni">
                    <!-- <img class="logos" src="/assets/logos/ufba-logo.png">-->
                    {{options.sigla_da_ies}} <br> {{options.nome_da_ies}}
                    </div>
                    <div class="icones-div-style icon-mobile">
                        <mat-icon class="icones-style place-icon">place</mat-icon>
                        <span class="info-uni"> {{options.municipio}} - {{options.uf}} </span>
                        <br>
                        <i class="fa fa-globe icones-style" aria-hidden="true"></i>
                        <a href="https://www.ufba.br/" id="uni-site" class="info-uni"> - </a>
                        <br>
                        <mat-icon class="icones-style">local_phone</mat-icon>
                        <span class="info-uni"> - </span>
                        <br>
                        <mat-icon class="icones-style">alarm_add</mat-icon>
                        <span class="info-uni"> 7:00 ás 22:00</span>
                        <br>
                        
                    </div>
                </div>
               
                <div class="indetf">
                    <span class="titulos titulo-pn">Identificação</span>
                    <div class="row"></div>
                    <span class="dados-geral">Código da IES: {{options.codigo_da_ies}}</span>
                    <div class="row"></div>
                    <span class="dados-geral">Código do curso: {{options.codigo_curso}}</span>
                    <div class="row"></div>
                    <span class="dados-geral">{{toTitleCase(options.nome_do_curso)}}</span>
                    <div class="row"></div>
                    <span class="dados-geral">{{options.grau}}</span>
                    <div class="row"></div>
                    <span class="dados-geral">{{options.modalidade}}</span>
                    <div class="row"></div>
                    <span class="dados-geral">{{options.org_academica}}</span>
                    <div class="row"></div>
                    <span class="dados-geral">{{options.cat_admin}}</span>
                    <div class="row"></div>
                    <br>
                    
                    <button mat-button class="btn btn-mat mat-mobile" type="button">
                        <span class = "">Projeto pedagógico (2007)</span>
                    </button>
                    
                    <button mat-button class="btn btn-mat mat-mobile" type="button">
                        <span class = "">Matriz curricular (2007)</span>
                    </button>
                </div>
                <div class="icons-dados">
                    <div class="icones-div-style">
                        <mat-icon class="icones-style place-icon">place</mat-icon>
                        <span class="info-uni"> {{options.municipio}} - {{options.uf}} </span>
                        <br>
                        <i class="fa fa-globe icones-style" aria-hidden="true"></i>
                        <a href="https://www.ufba.br/" id="uni-site" class="info-uni"> - </a>
                        <br>
                        <mat-icon class="icones-style">local_phone</mat-icon>
                        <span class="info-uni"> - </span>
                        <br>
                        <mat-icon class="icones-style">alarm_add</mat-icon>
                        <span class="info-uni"> 7:00 ás 22:00</span>
                    </div>

                </div>
                <div class="bts-mat">
                    <div class="wrapper-matricula">
                        <button mat-button class="btn btn-mat" type="button">
							<span class = "">Projeto pedagógico (2007)</span>
						</button>

                        <button mat-button class="btn btn-mat" type="button">
							<span class = "">Matriz curricular (2007)</span>
						</button>
                    </div>
                </div>

            </div>
        </div>
    <!-- </div> -->

    <div class="wrapper-geral">
        <div class="col-itens">
            <span class="titulos titulos-rsultados">Funcionamento</span>
            <div class="funcionamento-div">
                <div class="func-dados">
                    <br>
                    <span class="nome-ind">O curso está</span>
                    <br>
                    <span href="#" class="numero-ind" name="">{{options.situacao_do_curso}}</span>
                </div>

                <div class="func-dados">
                    <br>
                    <span class="nome-ind">Valor da mensalidade em {{options.ano_mensalidade}}</span>
                    <br>
                    <span href="#" class="numero-ind" name="">{{options.mensalidade}}</span>
                </div>
                <div class="func-dados">
                    <br>
                    <span class="nome-ind">Inicio das atividades</span>
                    <br>
                    <span href="#" class="numero-ind" name="">{{options.periodo}}</span>
                </div>
                <div class="func-dados">
                    <br>
                    <span class="nome-ind">Dispõe de</span>
                    <br>
                    <span href="#" class="numero-ind" name="">{{options.qt_vagas_autorizadas}} Vagas/Ano</span>
                </div>
                <div class="func-dados">
                    <br>
                    <span class="nome-ind">Carga horária</span>
                    <br>
                    <span href="#" class="numero-ind" name="">{{options.carga_horaria}} horas</span>
                </div>
            </div>

        </div>
        <div class="col-itens row-indicadores">
            <span class="titulos titulos-rsultados">Indicadores (2018)</span>
            <div class="indicadores-div">
                <div class="div-icons">
                    <img src="/assets/icons/NEW_VAGAS.png" class="icones-ind"><br>
                    <span class="nome-ind">Vagas</span><br>
                    <span href="#" class="numero-ind" name="">{{options.qt_vagas_autorizadas}}</span>
                </div>
                <div class="div-icons">
                    <img src="/assets/icons/NEW_INSCRITOS.png" class="icones-ind"><br>
                    <span class="nome-ind">Inscritos</span><br>
                    <span href="#" class="numero-ind" name="">{{options.qt_inscrito_total}}</span>
                </div>
                <div class="div-icons">
                    <img src="/assets/icons/NEW_INGRESSOS.png" class="icones-ind"><br>
                    <span class="nome-ind">Ingressos</span><br>
                    <span href="#" class="numero-ind" name="">{{options.qt_ingresso_total}}</span>
                </div>
                <div class="div-icons">
                    <img src="/assets/icons/NEW_MATRICULADOS.png" class="icones-ind"><br>
                    <span class="nome-ind">Matriculados</span><br>
                    <span href="#" class="numero-ind" name="">{{options.qt_matricula_total}}</span>
                </div>
                <div class="div-icons">
                    <img src="/assets/icons/NEW_CONCLUINTES.png" class="icones-ind"><br>
                    <span class="nome-ind">Concluintes</span><br>
                    <span href="#" class="numero-ind" name="">{{options.qt_concluinte_total}}</span>
                </div>
                <div class="div-icons">
                    <img src="/assets/icons/NEW_DOCENTES.png" class="icones-ind doc-icon"><br>
                    <span class="nome-ind doc-icon">Docentes</span><br>
                    <span href="#" class="numero-ind doc-icon" name="">{{options.total_docentes}}</span>
                </div>
                <div class="div-info">
                    <div class="info-syle">
                        <br>
                        <span class="nome-ind">Taxa de Concorrência Candidato/Vaga</span>
                        <br>
                        <span href="#" class="numero-ind" name="">{{options.tx_concorrencia}}</span>
                        <br>

                        <span class="nome-ind">Taxa de Sucesso</span>
                        <br>
                        <span href="#" class="numero-ind" id="sucess" name="">{{options.tx_sucesso}}</span>
                    </div>
                </div>
                <div class="div-info">
                    <div class="info-syle">
                        <br>
                        <span class="nome-ind">Taxa de Ocupação</span>
                        <br>
                        <span href="#" class="numero-ind" name="">{{options.tx_ocupacao}}%</span>
                        <br>
                        <span class="nome-ind">Relação Docente/Aluno</span>
                        <br>
                        <span href="#" class="numero-ind" id="sucess" name=""> -</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-itens row-docentes">
            <span class="titulos titulos-rsultados">Docentes
				<div class="border-button">
					<mat-icon class="btn bt-plus">add</mat-icon>
				</div>
				</span>

        </div>
        <div class="col-itens row-alunos">
            <span class="titulos titulos-rsultados">Alunos
				<div class="border-button">
				<mat-icon class="btn bt-plus">add</mat-icon>
			</div>
			</span>

        </div>
        <div class="col-itens">
            <span class="titulos titulos-rsultados">Avaliação
				<div class="border-button">
					<mat-icon class="btn bt-plus">add</mat-icon>
				</div>
				</span>

        </div>
    </div>
</div>