<div class="row start-xs">
	<div class="col-xs-6 coluns">
		<div class="box wrapper-left">
			<div class="bt-voltar">
				<button> voltar </button>
			</div>
			<div class="painel-uni wrapper-painel-uni">
				<div class="logo-uni">
					<img class="logos" src="/assets/logos/ufba-logo.png">
				</div>

				<div class="indetf">
					<span class="titulos titulo-pn">Identificação</span>
					<div class="row"></div>
					<span class="dados-geral">Código da IES: 578</span>
					<div class="row"></div>
					<span class="dados-geral">Código do curso: 1328</span>
					<div class="row"></div>
					<span class="dados-geral">Medcina</span>
					<div class="row"></div>
					<span class="dados-geral">Bacharelado</span>
					<div class="row"></div>
					<span class="dados-geral">Presencial</span>
					<div class="row"></div>
					<span class="dados-geral">Universidade</span>
					<div class="row"></div>
					<span class="dados-geral">Pública</span>
					<div class="row"></div>
				</div>
				<div class="icons-dados">
					<div class="icones-div-style">
						<mat-icon class="icones-style place-icon">place</mat-icon>
						<span class="info-uni"> NE/BA/Salvador</span>
						<br>
						<i class="fa fa-globe icones-style" aria-hidden="true"></i>
						<a href="https://www.ufba.br/" id="uni-site" class="info-uni"> www.ufba.br</a>
						<br>
						<mat-icon class="icones-style">local_phone</mat-icon>
						<span class="info-uni"> (71) 33203 7442</span>
						<br>
						<mat-icon class="icones-style">alarm_add</mat-icon>
						<span class="info-uni"> 7:00 ás 22:00</span>
					</div>

				</div>
				<div class="bts-mat">
					
				</div>

			</div>
		</div>
	</div>

	<div class="wrapper-geral">
		<div class="col-itens">
			<span class="titulos titulos-rsultados">Funcionamento</span>
			<div class="funcionamento-div">
				<div class="func-dados"></div>
				<div class="func-dados"></div>
				<div class="func-dados"></div>
				<div class="func-dados"></div>
				<div class="func-dados"></div>
			</div>

		</div>
		<div class="col-itens row-indicadores">
			<span class="titulos titulos-rsultados">Indicadores</span>
			<div class="indicadores-div">
			<div class="div-icons">
				<img src="/assets/icons/NEW_VAGAS.png" class="icones-ind">
				<span class="nome-ind">Vagas</span><br>				
                <span href="#" class="numero-ind" name="">00.000</span>
			</div>
			<div class="div-icons">
				<img src="/assets/icons/NEW_INSCRITOS.png" class="icones-ind">
				<span class="nome-ind">Inscritos</span><br>				
                <span href="#" class="numero-ind" name="">00.000</span>
			</div>
			<div class="div-icons">
				<img src="/assets/icons/NEW_INGRESSOS.png" class="icones-ind">
				<span class="nome-ind">Ingressos</span><br>				
                <span href="#" class="numero-ind" name="">00.000</span>
			</div>
			<div class="div-icons">
				<img src="/assets/icons/NEW_MATRICULADOS.png" class="icones-ind">
				<span class="nome-ind">Matriculados</span><br>				
                <span href="#" class="numero-ind" name="">00.000</span>
			</div>
			<div class="div-icons">
				<img src="/assets/icons/NEW_CONCLUINTES.png" class="icones-ind">
				<span class="nome-ind">Concluintes</span><br>				
                <span href="#" class="numero-ind" name="">00.000</span>
			</div>
			<div class="div-icons">
				<img src="/assets/icons/NEW_DOCENTES.png" class="icones-ind">
				<span class="nome-ind">Docentes</span><br>				
                <span href="#" class="numero-ind" name="">00.000</span>
			</div>
			<div class="div-info">
				<div class="info-syle">
					<br>
				<span class="nome-ind">Taxa de Concorrência Candidato/Vaga</span>
				<br>
				<span href="#" class="numero-ind" name="">00000</span>
				<br>
				
				<span class="nome-ind">Taxa de Sucesso</span>
				<br>
                <span href="#" class="numero-ind" id="sucess" name="">00000</span>
			</div>
		</div>
			<div class="div-info">
				<div class="info-syle">
					<br>
				<span class="nome-ind">Taxa de Ocupação</span>
				<br>
				<span href="#" class="numero-ind" name="">00%</span>
				<br>
				<span class="nome-ind">Relação Docente/Aluno</span>
				<br>
				<span href="#" class="numero-ind" id="sucess" name="">00000</span>
			</div>
			</div>
		</div>
		</div>
		<div class="col-itens row-docentes">
			<span class="titulos titulos-rsultados">Docentes</span>

		</div>
		<div class="col-itens row-alunos">
			<span class="titulos titulos-rsultados">Alunos</span>

		</div>
		<div class="col-itens">
			<span class="titulos titulos-rsultados">Avaliação</span>

		</div>
	</div>
</div>