<div class="row start-xs wrapper-tela">
    <!-- <div class="col-xs-6 coluns"> -->
    <!-- <div class=""> -->
    <div class="box wrapper-left">
        <div class="bt-voltar">
            <button mat-button class="btn btn-voltar" type="button" (click)="goBack()">
                <span class="">Voltar</span>
            </button>
        </div>
        <div class="painel-uni wrapper-painel-uni">
            <div class="logo-uni logo-wrapper">
                <div class="div-logo-uni">
                    <img class="logos" [src]='options.nome_img'>
                    <!--{{options.sigla_da_ies}} <br> {{options.nome_da_ies}}-->
                </div>
                <div class="icones-div-style icon-mobile">
                    <mat-icon class="icones-style place-icon">place</mat-icon>
                    <span class="info-uni"> {{options.municipio}} - {{options.uf}} </span>
                    <br>
                    <i class="fa fa-globe icones-style" aria-hidden="true"></i>
                    <a id="uni-site" class="info-uni"> {{options.e_mail_institucional_1}} </a>
                    <br>
                    <mat-icon class="icones-style">local_phone</mat-icon>
                    <span class="info-uni"> {{options.telefone}} </span>
                    <br>
                    <!-- <mat-icon class="icones-style">alarm_add</mat-icon>
                    <span class="info-uni"> 7:00 ás 22:00</span>
                    <br> -->

                </div>
            </div>

            <div class="indetf">
                <span class="titulos titulo-pn">Identificação</span>
                <div class="row"></div>
                <!-- <span class="dados-geral">Código da IES: {{options.codigo_da_ies}}</span>
                <div class="row"></div> -->
                <div class="nome-desk">
                    <span class="dados-geral">Código do curso: {{options.codigo_curso}}</span>
                    <div class="row"></div>
                    <span class="dados-geral">Nome do curso: {{toTitleCase(options.nome_do_curso)}}</span>
                    <div class="row"></div>
                    <span class="dados-geral">Grau: {{options.grau}}</span>
                    <div class="row"></div>
                    <span class="dados-geral">Modalidade: {{options.modalidade}}</span>
                    <div class="row"></div>
                    <span class="dados-geral">Oganização acadêmica: {{options.org_academica}}</span>
                    <div class="row"></div>
                    <span class="dados-geral">Categoria administrativa: {{options.cat_admin}}</span>
                    <div class="row"></div>
                    <br>
                </div>

                <div class="nome-mobile">
                    <span class="dados-geral">Código do curso: {{options.codigo_curso}}</span>
                    <div class="row"></div>
                    <span class="dados-geral">Nome do curso: {{toTitleCase(options.nome_do_curso)}}</span>
                    <div class="row"></div>
                    <span class="dados-geral">Grau: {{options.grau}}</span>
                    <div class="row"></div>
                    <span class="dados-geral">{{options.modalidade}}</span>
                    <div class="row"></div>
                    <span class="dados-geral">{{options.org_academica}}</span>
                    <div class="row"></div>
                    <span class="dados-geral">{{options.cat_admin}}</span>
                    <div class="row"></div>
                    <br>
                </div>
                <button mat-button class="btn btn-mat mat-mobile" type="button">
                    <span class="">Projeto pedagógico</span>
                </button>

                <!-- <button mat-button class="btn btn-mat mat-mobile" type="button">
                    <span class="">Matriz curricular</span>
                </button> -->
            </div>
            <div class="icons-dados">
                <div class="icones-div-style">
                    <mat-icon class="icones-style place-icon">place</mat-icon>
                    <span class="info-uni"> {{options.municipio}} - {{options.uf}} </span>
                    <br>
                    <!-- <i class="fa fa-globe icones-style" aria-hidden="true"></i> -->
                    <mat-icon class="icones-style"> email</mat-icon>
                    <span id="uni-site" class="info-uni"> {{treatNull(options.e_mail_institucional_1)}} </span>
                    <br>
                    <mat-icon class="icones-style">local_phone</mat-icon>
                    <span class="info-uni"> {{treatNull(options.telefone)}} </span>
                    <br>
                    <!-- <mat-icon class="icones-style">alarm_add</mat-icon>
                    <span class="info-uni"> 7:00 ás 22:00</span> -->
                </div>

            </div>
            <div class="bts-mat">
                <div class="wrapper-matricula">
                    <button mat-button class="btn btn-mat" type="button">
                        <span class="">Projeto pedagógico</span>
                    </button>

                    <!--  <button mat-button class="btn btn-mat" type="button">
                        <span class="">Matriz curricular</span>
                    </button> -->
                </div>
            </div>

        </div>
    </div>
    <!-- </div> -->

    <div class="wrapper-geral">
        <div class="col-itens">
            <span class="titulos titulos-rsultados">Funcionamento</span>
            <div class="funcionamento-div">
                <div class="func-dados">
                    <br>
                    <span class="nome-ind">O curso está</span>
                    <br>
                    <span href="#" class="numero-ind" name="">{{(options.situacao_do_curso)}}</span>
                </div>

                <div class="func-dados">
                    <br>
                    <span class="nome-ind">Valor da mensalidade em {{(options.ano_mensalidade)}}</span>
                    <br>
                    <span href="#" class="numero-ind" name="">{{(options.mensalidade)}}</span>
                </div>
                <div class="func-dados">
                    <br>
                    <span class="nome-ind">Inicio das atividades</span>
                    <br>
                    <span href="#" class="numero-ind"
                        name="">{{treatNull((options.periodo_funcionamento).split("-").reverse().join("/"))}}</span>
                </div>
                <div class="func-dados">
                    <br>
                    <span class="nome-ind">Vagas Autorizadas</span>
                    <br>
                    <span href="#" class="numero-ind" name="">{{treatNull(options.qt_vagas_autorizadas)}}
                        Vagas/Ano</span>
                </div>
                <div class="func-dados">
                    <br>
                    <span class="nome-ind">Carga horária</span>
                    <br>
                    <span href="#" class="numero-ind" name="">{{treatNull(options.carga_horaria)}} horas</span>
                </div>
            </div>
        </div>
        <div class="col-itens row-indicadores">
            <span class="titulos titulos-rsultados">Indicadores (2018)</span>
            <div class="indicadores-div">
                <div class="div-icons">
                    <img src="/assets/icons/NEW_VAGAS.png" class="icones-ind"><br>
                    <span class="nome-ind nm-vgs">Vagas Oferecidas</span><br>
                    <span href="#" class="numero-ind" name="">{{treatNull(options.qt_vaga_total_2018)}}</span>
                </div>
                <div class="div-icons">
                    <img src="/assets/icons/NEW_INSCRITOS.png" class="icones-ind"><br>
                    <span class="nome-ind">Inscritos</span><br>
                    <span href="#" class="numero-ind" name="">{{treatNull(options.qt_inscrito_total)}}</span>
                </div>
                <div class="div-icons">
                    <img src="/assets/icons/NEW_INGRESSOS.png" class="icones-ind"><br>
                    <span class="nome-ind">Ingressos</span><br>
                    <span href="#" class="numero-ind" name="">{{treatNull(options.qt_ingresso_total)}}</span>
                </div>
                <div class="div-icons">
                    <img src="/assets/icons/NEW_MATRICULADOS.png" class="icones-ind"><br>
                    <span class="nome-ind">Matriculados</span><br>
                    <span href="#" class="numero-ind" name="">{{treatNull(options.qt_matricula_total)}}</span>
                </div>
                <div class="div-icons">
                    <img src="/assets/icons/NEW_CONCLUINTES.png" class="icones-ind"><br>
                    <span class="nome-ind">Concluintes</span><br>
                    <span href="#" class="numero-ind" name="">{{treatNull(options.qt_concluinte_total)}}</span>
                </div>
                <div class="div-icons">
                    <img src="/assets/icons/NEW_DOCENTES.png" class="icones-ind doc-icon"><br>
                    <span class="nome-ind doc-icon">Docentes</span><br>
                    <span href="#" class="numero-ind doc-icon" name="">{{treatNull(options.total_docentes)}}</span>
                </div>
                <div class="div-info">
                    <div class="info-syle">
                        <br>
                        <span class="nome-ind">Taxa de Concorrência Candidato/Vaga</span>
                        <br>
                        <span href="#" class="numero-ind" name="">{{treatNull((+options.tx_concorrencia).toFixed(2),
                            true)}}</span>
                        <br>
                        <br>

                        <span class="nome-ind">Taxa de Sucesso</span>
                        <br>
                        <span href="#" class="numero-ind" id="sucess"
                            name="">{{treatNull((+options.tx_sucesso).toFixed(2)+ '%', true)}}</span>
                    </div>
                </div>
                <div class="div-info">
                    <div class="info-syle">
                        <br>
                        <span class="nome-ind">Taxa de Ocupação</span>
                        <br>
                        <span href="#" class="numero-ind" name="">{{treatNull((+options.tx_ocupacao).toFixed(2) + '%',
                            true)}}</span>
                        <br>
                        <br>
                        <span class="nome-ind">Relação Aluno/Docente</span>
                        <br>
                        <span href="#" class="numero-ind" id="sucess" name="">
                            {{treatNull((+options.n_alunos_cod_curso/options.total_docentes).toFixed(2), true)}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="func-mobile">
            <mat-accordion>
                <mat-expansion-panel class="tab-mobile" (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Docentes
                        </mat-panel-title>
                        <mat-panel-description>
                            {{panelOpenState ? '' : ''}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="card  card-body2" id="regimem">
                    </div>

                    <br>
                    <div class="card card-body2" id="titulacaom">
                    </div>

                    <br>

                    <div class="card card-body2" id="corM">
                    </div>

                    <br>

                    <div class="card card-body2">
                        <div class="card card-body2 divp">
                            <div class="teste">
                                <!--  <img src="/assets/icons/NEW_INGRESSOS.png" class="icones-ind pessoas"><br> -->
                                <!-- <i class="fas fa-female pessoas icones-ind fa-6x"></i><br> -->
                                <img src="/assets/icons/FEM_ICON.png" class=""><br><br>

                                <span class="nome-ind snome">Feminino</span><br>
                                <span href="#" class="numero-ind snome" name="">00</span>
                            </div>

                            <div class="teste">
                                <!-- <img src="/assets/icons/NEW_INGRESSOS.png" class="icones-ind pessoas "><br> -->
                                <img src="/assets/icons/MASC_ICON.png" class=""><br><br>
                                <span class="nome-ind snome">Masculino</span><br>
                                <span href="#" class="numero-ind snome" name="">00</span>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="card card-body2 cardpiramM" id="piramidem">
                    </div>
                    <!-- <p>I'm visible because I am open</p> -->
                </mat-expansion-panel>
            </mat-accordion>

            <mat-accordion>
                <mat-expansion-panel class="tab-mobile" (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Alunos
                        </mat-panel-title>
                        <mat-panel-description>
                            {{panelOpenState ? '' : ''}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div class="card mt-3 card-body2" id=tipoAlunom>
                    </div>

                    <br>

                    <div class="card card-body2" id=corAlunom>
                    </div>

                    <br>

                    <div class="card card-body2">
                        <div class="card card-body2 divp">
                            <div class="teste">
                                <!--  <img src="/assets/icons/NEW_INGRESSOS.png" class="icones-ind pessoas"><br> -->
                                <!-- <i class="fas fa-female pessoas icones-ind fa-6x"></i><br> -->
                                <img src="/assets/icons/FEM_ICON.png" class=""><br><br>

                                <span class="nome-ind snome">Feminino</span><br>
                                <span href="#" class="numero-ind snome" name="">00</span>
                            </div>

                            <div class="teste">
                                <!-- <img src="/assets/icons/NEW_INGRESSOS.png" class="icones-ind pessoas "><br> -->
                                <img src="/assets/icons/MASC_ICON.png" class=""><br><br>
                                <span class="nome-ind snome">Masculino</span><br>
                                <span href="#" class="numero-ind snome" name="">00</span>
                            </div>
                        </div>
                    </div>

                    <br>
                    <div class="card card-body2 cardpiramM" id=PAlunom>

                    </div>

                    <!-- <p>I'm visible because I am open</p> -->
                </mat-expansion-panel>
            </mat-accordion>

            <mat-accordion>
                <mat-expansion-panel class="tab-mobile" (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Avaliação
                        </mat-panel-title>
                        <mat-panel-description>
                            {{panelOpenState ? '' : ''}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div class="card-avaliacao">
                        <div class="section-avaliacao">
                            <span class="nome-ind">Conceito de curso (Ano)</span>
                            <br>
                            <span href="#" class="numero-ind" name="">Sem conceito</span>
                        </div>

                        <div class="section-avaliacao">
                            <span class="nome-ind">IDD (Ano)</span>
                            <br>
                            <span href="#" class="numero-ind" name="">Sem conceito</span>
                        </div>
                        <div class="section-avaliacao">
                            <span class="nome-ind">ENADE (2019)</span>
                            <br>
                            <span href="#" class="numero-ind" name="">Sem conceito</span>
                        </div>
                        <div class="section-avaliacao">
                            <span class="nome-ind">ENADE (2019)</span>
                            <br>
                            <span href="#" class="numero-ind" name="">Sem conceito</span>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

        </div>



        <div class="col-itens row-docentes">
            <span class="titulos titulos-rsultados">Docentes

                <!--    <div class="border-button">
                    <mat-icon class="btn bt-plus" matTooltip="Em Breve" matTooltipClass="example-tooltip-red"
                        aria-label="" matTooltipPosition="left">add</mat-icon>
                </div> -->
            </span>
        </div>
        <div class="tab-pane fade show active col-bar" id="home" role="tabpanel" aria-labelledby="home-tab">
            <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#colapse1" role="button" aria-expanded="false"
                    aria-controls="collapseExample">
                    <span class="nome-tabs">Regime de trabalho</span>
                </a>

                <a class="btn btn-primary" data-toggle="collapse" href="#colapse2" role="button" aria-expanded="false"
                    aria-controls="collapseExample">
                    <span class="nome-tabs">Titulação</span>
                </a>

                <a class="btn btn-primary btna" data-toggle="collapse" href="#colapse3" role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                    <span class="nome-tabs">Cor\Raça</span>
                </a>

                <a class="btn btn-primary btna" data-toggle="collapse" href="#colapse4" role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                    <span class="nome-tabs">Sexo</span>
                </a>

                <a class="btn btn-primary btna" data-toggle="collapse" href="#colapse5" role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                    <span class="nome-tabs">Idade</span>
                </a>

                <!-- <button class="btn btn-primary" type="button"  data-toggle="collapse" data-target="#colapse2" aria-expanded="false" aria-controls="collapseExample">
              Button with data-target
            </button>

            <button class="btn btn-primary" type="button"  data-toggle="collapse" data-target="#colapse1" aria-expanded="false" aria-controls="collapseExample">
                Button with data-target
            </button> -->

            </p>
            <div class="row colaprow">
                <div class="col colacol">

                    <div class="collapse" id="colapse1">
                        <div class="cardb">
                            <div class="card  card-body2" id="regime">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col colacol">
                    <div class="collapse" id="colapse2">
                        <div class="card card-body2" id="titulacao">
                        </div>
                    </div>
                </div>
            </div>

            <div class="collapse cl2" id="colapse3">
                <div class="card card-body2" id="idraca">
                </div>
            </div>

            <div class="collapse cl2" id="colapse4">
                <div class="card card-body2">
                    <div class="card card-body2 divp">
                        <div class="teste">
                            <!--  <img src="/assets/icons/NEW_INGRESSOS.png" class="icones-ind pessoas"><br> -->
                            <!-- <i class="fas fa-female pessoas icones-ind fa-6x"></i><br> -->
                            <img src="/assets/icons/FEM_ICON.png" class=""><br><br>

                            <span class="nome-ind snome">Feminino</span><br>
                            <span href="#" class="numero-ind snome" name="">00</span>
                        </div>

                        <div class="teste">
                            <!-- <img src="/assets/icons/NEW_INGRESSOS.png" class="icones-ind pessoas "><br> -->
                            <img src="/assets/icons/MASC_ICON.png" class=""><br><br>
                            <span class="nome-ind snome">Masculino</span><br>
                            <span href="#" class="numero-ind snome" name="">00</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="collapse cl2" id="colapse5">
                <div class="cl1">
                    <div class="card card-body2 cardpiram" id="piramide">
                    </div>

                </div>
            </div>


        </div>
        <div class="col-itens row-alunos">
            <span class="titulos titulos-rsultados">Alunos
                <!--     <div class="border-button">
                    <mat-icon class="btn bt-plus" matTooltip="Em Breve" matTooltipClass="example-tooltip-red"
                        aria-label="" matTooltipPosition="left">add</mat-icon>
                </div> -->
            </span>
        </div>



        <div class="tab-pane fade show active col-bar" id="home" role="tabpanel" aria-labelledby="home-tab">
            <p>

                <a class="btn btn-primary" data-toggle="collapse" href="#colapse6" role="button" aria-expanded="false"
                    aria-controls="collapseExample">
                    <span class="nome-tabs">Tipo de Escola</span>
                </a>

                <a class="btn btn-primary" data-toggle="collapse" href="#colapse7" role="button" aria-expanded="false"
                    aria-controls="collapseExample">
                    <span class="nome-tabs">Cor\Raça</span>
                </a>

                <a class="btn btn-primary btna" data-toggle="collapse" href="#colapse8" role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                    <span class="nome-tabs">Sexo</span>
                </a>

                <a class="btn btn-primary btna" data-toggle="collapse" href="#colapse9" role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                    <span class="nome-tabs">Idade</span>
                </a>

            </p>

            <div class="collapse" id="colapse6">
                <div class="card mt-3 card-body2" id=tipoAluno>

                </div>
            </div>

            <div class="collapse cl2" id="colapse7">
                <div class="card card-body2" id=corAluno>

                </div>
            </div>

            <div class="collapse cl2" id="colapse8">
                <div class="card card-body2">
                    <div class="card card-body2 divp">
                        <div class="teste">
                            <!--  <img src="/assets/icons/NEW_INGRESSOS.png" class="icones-ind pessoas"><br> -->
                            <!-- <i class="fas fa-female pessoas icones-ind fa-6x"></i><br> -->
                            <img src="/assets/icons/FEM_ICON.png" class=""><br><br>

                            <span class="nome-ind snome">Feminino</span><br>
                            <span href="#" class="numero-ind snome" name="">00</span>
                        </div>

                        <div class="teste">
                            <!-- <img src="/assets/icons/NEW_INGRESSOS.png" class="icones-ind pessoas "><br> -->
                            <img src="/assets/icons/MASC_ICON.png" class=""><br><br>
                            <span class="nome-ind snome">Masculino</span><br>
                            <span href="#" class="numero-ind snome" name="">00</span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="collapse cl2" id="colapse9">
                <div class="card card-body2 cardpiram" id=PAluno>

                </div>
            </div>
        </div>



        <div class="col-itens row-ava">
            <span class="titulos titulos-rsultados">Avaliação
                <!-- <div class="border-button">
                    <mat-icon class="btn bt-plus" matTooltip="Em Breve" matTooltipClass="example-tooltip-red"
                        aria-label="" matTooltipPosition="left">add</mat-icon>
                </div> -->
            </span>

        </div>

        <div class="tab-pane fade show active col-ava" id="home" role="tabpanel" aria-labelledby="home-tab">
            <p>
                <a class="btn btn-primary btna" data-toggle="collapse" href="#colapse10" role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                    <span class="nome-tabs">Mais</span>
                </a>
            </p>
            <div class="collapse cl2" id="colapse10">
                <div class="card card-body2">
                    <div class="card-avaliacao">
                        <div class="section-avaliacao">
                            <span class="nome-ind">Conceito de curso (Ano)</span>
                            <br>
                            <span href="#" class="numero-ind" name="">Sem conceito</span>
                        </div>
                        <div class="section-avaliacao">
                            <span class="nome-ind">IDD (Ano)</span>
                            <br>
                            <span href="#" class="numero-ind" name="">Sem conceito</span>
                        </div>
                        <div class="section-avaliacao">
                            <span class="nome-ind">ENADE (2019)</span>
                            <br>
                            <span href="#" class="numero-ind" name="">Sem conceito</span>
                        </div>
                        <div class="section-avaliacao">
                            <span class="nome-ind">ENADE (2019)</span>
                            <br>
                            <span href="#" class="numero-ind" name="">Sem conceito</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>