.wrapper-left {
    //wrapper do painel esquerdo
    grid-template-rows: repeat(2, 1fr);
    width: 250px;
    height: 540px;
}

.painel-uni {
    //div do painel fundo branco
    background: white;
    border-radius: 10px;
    width: 240px;
    margin: 2px auto;
    height: 510px;
    top: 8px !important;
    position: relative;
}

.wrapper-painel-uni {
    //wrapper interno do painel branco
    grid-template-rows: repeat(5, 1fr);
    grid-row-gap: 2px;
    margin-bottom: 2px!important;
    position: relative;
}

// .doc-icon{
//     opacity: 0.2;
// }
.bt-voltar {
    align-items: center;
    justify-content: center;
    display: flex;
}

.btn-voltar {
    color: white;
    background: #023a1d;
    width: 80px;
    height: 36px;
    border-radius: 15px;
}

.btn-voltar:hover,
.btn-voltar:focus {
    border: 1px solid #e1e31d;
    border-radius: 15px;
}

.btn-voltar:active {
    opacity: 0.5;
    border: 1px solid #e1e31d;
    border-radius: 15px;
}

.border-button {
    left: 96%;
    position: relative;
    background: #d71a20;
    width: 23px;
    height: 23px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    bottom: 27px;
    opacity: 0.3;
}
::ng-deep .mat-tooltip {
    /* your own custom styles here */ 
    /* e.g. */
    //background: #d71a20;
    font-size: 15px;
}
.bt-plus {
    position: relative;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: bold;
    color: white;
}

.bt-plus:hover,
.bt-plus:focus {
    border: 1px solid white;
    // opacity: 0.5;
    border-radius: 20px;
}

.bt-plus:active {
    opacity: 0.5;
}

.nome-mobile{
    display: none;
}
.logo-uni {
    // div dos logos das universidades
    height: 20%;
    align-content: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    align-items: center;
    position: relative;
}

.logos {
    //estilo tam dos logos
    max-width: 200px;
    max-height: 80px;
    width: auto;
    position: relative;
    margin-top: 5px !important;
}

.indetf {
    //div de identificação painel esquerdo
    height: 30%;
    line-height: 1.2;
}

.titulo-pn {
    color: #d71a20;
    font-weight: bold;
    top: 5px;
    font-size: 22px;
    margin-left: 10px;
}

.dados-geral {
    font-size: 12px;
    margin-left: 21px;
    position: relative;
    color: #808a84;
    top: 10px;
    text-transform: initial;
    font-weight: bold;
}

.icons-dados {
    height: 30%;
}

.icon-mobile {
    display: none;
}

.icones-style {
    color: #d71a20;
    font-size: 25px;
}

.mat-mobile {
    display: none;
}

.icones-div-style {
    margin-top: 25px;
    margin-left: 20px;
}

.info-uni {
    font-size: 14px;
    position: relative;
    color: #808a84;
    bottom: 5px;
}

.place-icon {
    margin-left: -3px!important;
    font-size: 26px;
}

#uni-site {
    left: 3px;
}

.bts-mat {
    height: 15%;
}

.wrapper-matricula {
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 5px;
    align-items: center;
    justify-content: center;
    display: grid;
    bottom: 20px !important;
    position: relative;
    color: white;
}

.btn-mat {
    color: white;
    background: #d71a20;
    border-radius: 15px;
    opacity: 0.3;
    // margin-bottom: 10px;
    // bottom: 5px;
}

.titulos-rsultados {
    bottom: 35px;
    position: relative;
    font-weight: bold;
    font-size: 23px;
}

.start-xs {
    margin: 10px 10px 10px 10px;
    //width: auto;
}

.wrapper-geral {
    grid-column-gap: 1px;
    grid-row-gap: 3px;
    padding: 5px;
    margin-top: 40px !important;
    margin-left: 5px !important;
    margin: 1px auto; //prolblema busca
    width: 100%;
    min-width: 20%;
    float: left;
    display: block;
    flex: 1;
    grid-template-columns: repeat(5, 1fr);
    //min-width: 200px;
}

.col-itens {
    //background: orchid;
    margin: 0px;
    height: 110px;
    border-top: 2px solid #e1e31d;
}

//parte da linha funcionamento
.funcionamento-div {
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 3px;
    display: flex;
    // margin: 1px auto; //prolblema busca
    bottom: 30px;
    position: relative;
}

.func-dados {
    width: 20%;
    height: 100px;
    text-align: center;
}

//part da linha indicadores
.row-indicadores {
    height: 180px!important;
    border-top: 2px solid #e1e31d;
}

.indicadores-div {
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 3px;
    display: flex;
    // margin: 1px auto; //prolblema busca
    bottom: 30px;
    position: relative;
    margin-top: 10px;
}

.div-icons {
    //width: 105px;
    width: 10%;
    //width: 77%;
    height: 150px;
    text-align: center;
}

.icones-ind {
    position: relative;
    height: 80px;
    width: 80px;
}

.nome-ind {
    position: relative;
    color: white;
    font-size: 13px;
    font-weight: 10;
    text-align: center;
    bottom: 10px;
    font-weight: bold;
    
}

.nm-vgs{
    white-space: nowrap;
}
.numero-ind {
    color: #e1e31d;
    font-size: 17px;
    font-weight: 50;
    text-align: center;
    font-weight: bold;
    position: relative;
    bottom: 14px;
    font-style: italic;
}

.div-info {
    width: 20%;
    height: 150px;
    text-align: center;
    line-height: 1.2;
}

.info-style {
    position: relative;
    bottom: 10px;
}

.row-docentes {
    height: 40px!important;
    // border-top: 2px solid white;
    border-top: 2px solid #e1e31d;
}

.row-alunos {
    height: 40px!important;
    // border-top: 2px solid white;
    border-top: 2px solid #e1e31d;
}

//breack points
@media screen and (min-width:1440px) {
    .border-button {
        left: 98%;
    }
}

@media screen and (max-width:1000px) {
    .funcionamento-div {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 1px;
        display: grid;
    }
    .col-itens {
        height: 200px;
    }
    .func-dados {
        width: 100%;
    }
    .border-button {
        left: 95%;
    }
    .indicadores-div {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        display: grid;
    }
    .row-indicadores {
        height: 330px!important;
        border-top: 2px solid #e1e31d;
    }
    .div-info {
        width: 100% !important;
    }
    .div-icons {
        width: 100%;
    }
    .nome-mobile{
        display: block;
    }
    .nome-desk{
        display: none;
        }
}


@media screen and (max-width:769px) {
    .wrapper-geral {
        flex: none;
        top: 60px!important;
        position: relative;
    }
    .border-button {
        left: 93%;
    }
    .wrapper-tela {
        grid-template-rows: repeat(2, 1fr);
    }
    .icon-mobile {
        display: block;
    }
    .div-logo-uni {
        align-self: start;
        justify-content: start;
        align-items: start;
        align-content: start;
        text-align: start;
        margin: 5px;
        height: 50px;
    }
    .icones-div-style {
        margin-top: 40px;
        margin-left: 5px;
        height: 160px;
       
    }
    .wrapper-left {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        height: 200px;
    }
    .painel-uni {
        width: 100%;
        height: 200px;
        display: flex;
        //margin: 5px;
    }
    .wrapper-painel-uni {
        //wrapper interno do painel branco
        grid-template-columns: repeat(5, 1fr);
        grid-row-gap: 2px;
        margin-bottom: 2px!important;
        position: relative;
        //display: grid;
    }
    .logo-uni {
        // div dos logos das universidades
        grid-template-rows: repeat(2, 1fr);
        width: 100%;
        align-self: start;
        justify-content: start;
        align-items: start;
        align-content: start;
        text-align: start;
        position: relative;
    }
    .indetf {
        //div de identificação painel esquerdo
        width: 100%;
        line-height: 1.2;
        height: 200px;
    }
    .icons-dados {
        width: 100%;
        display: none;
    }
    .bts-mat {
        width: 100%;
        height: 0%;
        //position: absolute;
        align-content: center;
        justify-content: center;
        text-align: center;
        align-self: center;
        align-items: center;
    }
    .btn-mat {
        color: white;
        background: #d71a20;
        border-radius: 15px;
        opacity: 0.3;
        width: 130px;
       
    }
    .wrapper-matricula {
        // grid-template-rows: repeat(2, 1fr);
        // grid-row-gap: 5px;
        // align-items: center;
        // justify-content: center;
        // display: grid;
        bottom: 40px !important;
        // position: relative;
        // color: white;
    }
}

@media screen and (max-width:460px) {
    .wrapper-geral {
        flex: none;
        top: 110px!important;
        position: relative;
    }
    .indicadores-div {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        display: grid;
    }
    .row-indicadores {
        height: 630px!important;
        border-top: 2px solid #e1e31d;
    }
    .funcionamento-div {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 1px;
        display: grid;
    }
    .col-itens {
        height: 320px;
    }
    .div-info {
        width: 100% !important;
        line-height: 1.2;
    }
    .bts-mat {
        display: none;
    }
    .mat-mobile {
        display: block !important;
        margin-right: 2px;
        margin-bottom: 4px;
        width: 130px;  
    }
    .wrapper-painel-uni {
        //wrapper interno do painel branco
        grid-template-rows: repeat(2, 1fr);
        //display: grid;
    }
    .painel-uni {
        width: 100%;
        height: 270px;
        display: flex;
        //margin: 5px;
    }
    .icones-div-style {
        margin-top: 50px;
    }
    .border-button {
        left: 90%;
    }
}




.tab-lugar{
     display: flex;;
    
    top:100px;
    // width: 450px;
    // height: 20px;
    // align-items: center;
    // justify-content: center;
    // text-align: center;
}

.col-bar {
    align-items: end;
    justify-content: end;
    text-align:end;
    bottom: 76px !important;
    position: relative;
    grid-column-gap: 2px ;
    // border-top: 2px solid #e1e31d;
    // border-bottom: 2px solid #e1e31d;
    justify-content: space-around;
   
    
   
}

.col-ava {
    align-items: end;
    justify-content: end;
    text-align:end;
    bottom: 146px !important;
    position: relative;
    // border-top: 2px solid #e1e31d;
    // border-bottom: 2px solid #e1e31d;
    
}
.card-body2{
    background-color: #0d542a;
    height: 400px;
    border-color:  #0d542a;
}


.btn-primary{
    background-color: #d71a20;
    border: none;    
}

.btn-primary:hover{
    background-color: #d71a20;
    opacity: 0.8;
}
.btn-primary:focus{
    background-color: white;
    border: none;
    
    .nome-tabs{
        color: #d71a20;
        font-size: 15px;
        font-weight: 10;
        font-weight: bold;
    }
}


.card-avaliacao{
    grid-template-columns: repeat(4, 1fr);
    //display: grid;
    grid-column-gap: 2px;
    margin-bottom: 2px!important;
    position: relative;
    //background-color: darkblue;
    height: 100px;
    display: flex;
 
}

.section-avaliacao{
    //background-color: darkorange;
    width: 25%;
    height: 100px;
    text-align: center;
}

.btna{
  padding-right: 15px!important;
  right: 20%!important;
  
}
.nome-tabs{
    color: white;
    font-size: 14px;
    font-weight: 10;
    font-weight: bold;
}