<div class="row start-xs  wrapper-tela">
   <div class=" row wrapper-header">
      <div class="wrapper-icons">
         <div class="row back-color2 ">
            <div class="col-9">
               <mat-button-toggle-group id="buttonExplorer" name="buttonExplorer" aria-label="Font Style"
                  class="w-100 back-color" [(ngModel)]="metricaSelecionada" ngDefaultControl>
                  <div class="">
                    <!--  <div class="wrapper-inputs"> -->
                        <section class="grid grid-template-areas-1">
                        <div class="input-cursos">
                           <mat-button-toggle value="qt_cursos" class="ml-2 bt-cursos">
                              <img src="/assets/icons/NEW_CURSOS.png" class="icones-ind icon-cursos">
                              <span class="row nome-cursos">Cursos</span>
                           </mat-button-toggle>
                        </div>
                     
                     <div class="row linha-cima">
                       
                        <mat-button-toggle value="qt_vagas_autorizadas" class="ml-2 abc">
                           <div class="bt-taxa2 nome-ind ab">
                              <img src="/assets/icons/NEW_VAGAS.png" class="icones-ind">
                              <p class="nome-ind bt-taxa abcd">Vagas<br>Oferecidas</p>
                           </div>
                        </mat-button-toggle>
                        <mat-button-toggle value="qt_inscrito_total" class="ml-2">
                           <img src="/assets/icons/NEW_INSCRITOS.png" class="icones-ind">
                           <span class="nome-ind oneword">Inscritos</span>
                        </mat-button-toggle>
                        <mat-button-toggle value="qt_ingresso_total" class="ml-2">
                           <img src="/assets/icons/NEW_INGRESSOS.png" class="icones-ind">
                           <span class="nome-ind oneword">Ingressos</span>
                        </mat-button-toggle>
                        <mat-button-toggle value="qt_matricula_total" class="ml-2">
                           <img src="/assets/icons/NEW_MATRICULADOS.png" class="icones-ind ab">
                           <span class="nome-ind oneword ab">Matriculados</span>
                        </mat-button-toggle>
                        <mat-button-toggle value="qt_concluinte_total" class="ml-2">
                           <img src="/assets/icons/NEW_CONCLUINTES.png" class="icones-ind ab">
                           <span class="nome-ind oneword ">Concluintes</span>
                        </mat-button-toggle>
                        <mat-button-toggle value="total_docentes" class="ml-2">
                           <img src="/assets/icons/NEW_DOCENTES.png" class="icones-ind">
                           <span class="nome-ind oneword">Docentes</span>
                        </mat-button-toggle>
                     </div>

                     <div class="row mt-2  linha-cima2">
                        <mat-button-toggle value="tx_concorrencia" class="ml-2">
                           <p class="nome-ind doc-icon ">Taxa de<br>Concorrência</p>
                        </mat-button-toggle>
                        <mat-button-toggle value="tx_ocupacao" class="ml-2">
                           <p class="nome-ind doc-icon ">Taxa de<br>Ocupação</p>
                        </mat-button-toggle>
                        <mat-button-toggle value="tx_sucesso" class="ml-2">
                           <p class="nome-ind doc-icon ">Taxa de<br>Sucesso</p>
                        </mat-button-toggle>
                        <mat-button-toggle value="aluno_docente" class="ml-2">
                           <p class="nome-ind doc-icon ">Relação<br>Aluno/Docente</p>
                        </mat-button-toggle>
                        <mat-button-toggle value="valor_cc" class="ml-2">
                           <p class="nome-ind doc-icon ">Conceito de<br>Curso</p>
                        </mat-button-toggle>
                        <mat-button-toggle value="valor_enade" class="ml-2">
                           <p class="nome-ind doc-icon ">Conceito<br>ENADE</p>
                        </mat-button-toggle>
                     </div>
                  </section>
                  </div>
               </mat-button-toggle-group>
            </div>

            <div class="col-2 radio-bts">
               <!--    <div class="check-div">
                  <div class="div-ops"> -->
               <span class="title-bt title-check"> Agregação</span>

               <!-- TODO: TROCAR BOTÃO POR RADIO BUTTON -->
               <section class="example-section">
                  <mat-radio-group aria-label="Select an option" [(ngModel)]="cruzamentoSelecionado"
                     name="cruzamentoSelecionado">
                     <mat-radio-button #button class="example-margin" (click)="checkState(button)" value="localizacao">
                        Capital/Interior</mat-radio-button>
                     <mat-radio-button #button1 class="example-margin" (click)="checkState(button1)" value="codigo_ies__cat_admin">
                        Público/Privado</mat-radio-button>
                     <mat-radio-button #button2 class="example-margin" (click)="checkState(button2)"
                        value="codigo_ies__org_academica">Organização Acadêmica</mat-radio-button>
                  </mat-radio-group>
               </section>
            </div>
            <!--    </div>
            </div> -->

         </div>
      </div>
   </div>
   <div class="box wrapper-left">
      
      <div class="div-year">
         <span class="title-bt"> Período</span>
         <div class="range-date">
            <div class="custom-slider">
               <ng5-slider [(value)]="value" [(highValue)]="highValue" [options]="options" (userChange)="updateYear()">
               </ng5-slider>
            </div>
         </div>
      </div>

      <div class="div-estados overflow-auto">
         <section class="example-section">
            <input matInput [(ngModel)]="query" type="text" class="form-control mb-2" placeholder="Buscar">
            <mat-selection-list #cloths [(ngModel)]="modelGroup">
               <mat-list-option [value]="{nome: 'Brasil'}" class='btn-option' [selected]="true">Brasil

               </mat-list-option>
               <div *ngFor="let regiao of stateOptions | LockFilter: query">
                  <mat-list-option class='btn-option' [value]="regiao">
                     {{regiao.nome}}
                  </mat-list-option>
               </div>

            </mat-selection-list>
         </section>
      </div>
      <button mat-button class="deselect btn-option" (click)="deselectCloth()">Limpar Seleção</button>
   </div>
   
   <div class="wrapper-geral">
      <div class="geral-map">
      <div class="header-map">
         <div class="logo-direm-panel">
               <img src="/assets/icons/Direm-logo.png" class="doc-icon">
         </div>

            <div class="bt-relativo">
               <mat-slide-toggle class="bt-relativo" [disabled]="true" labelPosition="before"> <span
                  class="nome-indf doc-icon "> Relativo/Absoluto</span></mat-slide-toggle>
            </div>
      </div>
         <!-- HEADER ICONS -->
         <div class="p-2">
            <app-output [metricaSelecionada]="metricaSelecionada" [estadosSelecionados]="modelGroup"
               [cruzamentoSelecionado]="cruzamentoSelecionado" [anosSelecionados]="anosSelecionados">
            </app-output>
         </div>


         <!-- FOOTER BUTTONS -->
         <!--  <div class="footer-map">

            <button class="div-iconsf bt-filter">
               <img src="/assets/icons/Down-direm.png" class="doc-icon">
               <span class="nome-indf doc-icon "> DOWNLOAD</span>
            </button>

            <button class="div-iconsf">
               <img src="/assets/icons/share-direm.png" class="doc-icon">
               <span class="nome-indf"> COMPARTILHAR</span>
            </button>
         </div> -->
         <ul class="menu bottomRight">
            <li class="share top">
               <i class="fa fa-share-alt"></i>
               <ul class="submenu">
                  <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#" class="googlePlus"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
               </ul>
            </li>
         </ul>
      </div>
   </div>
</div>