// We need to use ::ng-deep to overcome view encapsulation
.form-control{
  color:  #333 !important;
}

::ng-deep {
    .custom-slider .ng5-slider .ng5-slider-bar {
      background: #23441b;
      height: 3px;
    }
    .custom-slider .ng5-slider .ng5-slider-selection {
      background: #E1E31D;
      height: 3px;
    }
  
    .custom-slider .ng5-slider .ng5-slider-pointer {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      top: auto; /* to remove the default positioning */
      bottom: -5px;
      background-color: #E1E31D;
    }
  
    .custom-slider .ng5-slider .ng5-slider-pointer:after {
      display: none;
    }
    .custom-slider .ng5-slider .ng5-slider-bubble {
      bottom: 14px;
      color: white !important;
    }
  

    .custom-slider .ng5-slider .ng5-slider-tick {
      width: 1px;
      height: 10px;
      margin-left: 4px;
      width: 3px;
      border-radius: 10px;
      background: #23441b;
      top: -1px;
    }
  
    .custom-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
      background: #E1E31D;
      width: 3px;
      border-radius: 10px;
    }
  }
  

.btn-option{
    text-align:left;
    color: #777777;
    font-weight: bold;
    height: 400px;
}

.btn-option:focus{
    background:#C4C4C4;
}
.wrapper-tela {
   grid-template-rows: repeat(2, 1fr);
   height: 800px !important;
   
}

.wrapper-left {
    //wrapper do painel esquerdo
    grid-template-rows: repeat(2, 1fr);
    width: 270px;
    height: 600px;
    //background-color: #3b5999;
    margin-left: 25px;
    
    
}

.wrapper-icons {
    //wrapper do painel esquerdo
    grid-template-rows: repeat(2, 1fr);
    width: 100% !important;
    height: 150px;
    //justify-self: end !important;
    margin-left: 95px;
    
    //margin-right: 55px;
}
.back-color{
    background-color: #336925;
    height: 120px;
    align-items: center !important;
    align-self: center!important;
    align-content: center!important;
    justify-content: center!important;
    line-height: 1 !important;
    text-align: center !important;
    width: 100% !important;
    //margin-left: 15px;
   // width: auto;
   
}
.wrapper-header{
  height: 155px;
  
 
}
.ml-2{
    width: 100%;
    display: grid;
    flex: 1;
    grid-template-columns: repeat(1fr,1fr);
    
}
.wrapper-geral {
    //float: left;
    //display: grid;
    flex: 1;
    grid-template-rows:1fr 3fr;
    //padding-left: 80px;
    //height: auto;
    //padding-right: 20px;
    //background-color: rebeccapurple;
    
}
.container{
    background-color: rebeccapurple;
    //display: flex;
 /*    align-content: flex-end!important;
    align-self: flex-end!important;
    align-items:flex-end!important;
    justify-content:end!important;
    justify-self: end!important; */
}
.wrapper-icons {
    grid-column-gap: 1px;
    grid-row-gap: 3px;
    //padding: 20px;
    margin-top: 20px !important;
    //margin-left: 2px !important;
    //margin: 1px auto; //prolblema busca
    width: 100%;
    //min-width: 20%;
    //float: left;
    display: block;
    flex: 1;
    grid-template-columns: repeat(1fr,1fr);
    grid-template-rows: repeat(2, 1fr);
    //grid-template-columns: 3fr 1fr;
    //display: grid;
    height: 160px;
    //min-width: 200px;
    /* align-content: center!important;
    align-self: center!important;
    align-items: center!important;
    justify-content: center!important;
    justify-self: center!important; */
    
    
}
/* .indicadores-div {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 7px;
    grid-row-gap: 7px;
    display: grid;
    // margin: 1px auto; //prolblema busca
    bottom: 30px;
    position: relative;
    margin-top: 10px;
    width: 95%;
}
 */
.input-cursos{
  grid-area: input-cursos;
  }
.grid {
	display: grid;
}

.grid-template-areas-1 {
	grid-template-areas:
		
		"input-cursos linha-cima "
		"input-cursos linha-cima2"
		;
}


 .bt-cursos{
  width: 200px; 
  height: 108px !important;
  margin-right: 15px;
 }
.title-check{
    color: #E1E31D;
    position: relative;
    //right: 23px !important;
    //top: 7px !important;
}

.back-color2{
    //grid-column-gap: 20px;
    //justify-self: end !important;
}

.div-icons {
    margin-top: 10px !important;
    height: 52px;
    text-align: center;
    //background-color: #023A1D;
    border-radius: 5px;
    border: 2px solid #ffff;
    text-align:center;
    
    
}
/* .div-break{
    grid-template-columns: repeat(2, 1fr);
    display: grid;
} */
/* .break-nome{
    text-align:start;
    margin-top: 5px !important;
    right: 5px !important;
} */
.nome-ind {
    position: relative;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
    color: #E1E31D;
    //font-family: Roboto;
    font-style: normal;    
    word-wrap: break-all !important;
    line-height: 1.4;
    padding-top: 8px;
}
.nome-cursos{
    position: relative;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: bold;
    color: #E1E31D;
    //font-family: Roboto;
    font-style: normal;    
    line-height: 1.8;
    align-content: center!important;
    align-self:center!important;
    align-items:center!important;
    justify-content:center!important;
    text-align: center!important;
    
}
.icon-cursos{

}
.oneword{
    right: 5px;
}
.icones-ind {
    position: relative;
    height: 45px;
    width: 50px;
    text-align: start !important;
    //right: 30px;
    
}
.div-year{
    background-color: #336925;
    width: 233px;
    height: 110px;
    //padding: 10px;
    border-radius: 5px;
    //margin-top: 160px !important;
    margin-left: 25px;
   
}

.range-date{
    
    //font-size: 8pt;
    //float: right;
    //margin: 8px;

    margin: 0;
    padding: 10px;
    height: 50px;
    //width: 100px !important;
    //size: 10px;
}
mat-form-field{
    width: 180px;
    height: 60px;
    background: white;
    color: grey;
    border-radius: 5px; 
    left: 25px !important;
    top: 20px !important;
    height: 50px;
}

mat-label{
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    color: grey;
    
}
.title-bt{
    padding-left: 10px;
    font-weight: 400;
    //top: 20px !important;
    font-size: 13px;
    letter-spacing: 1px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

mat-datepicker-toggle {
    color: #145427;
}
mat-date-range-input{
    color: #145427;
}

.input-group{
    width: 210px;
    margin-left: 10px;
    
}

.div-estados{
    //background-color: #336925;
    width: 233px;
    height: 380px;
    //padding: 10px;
    border-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-top: 10px !important;
    margin-left: 25px;
}
::placeholder {
    color: gray !important;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: bold;
    
}

.dropdown-toggle{
    padding-left: 30px !important;
    width: 140px;
    height: 36px;
    background: white;
    color: gray;
    align-items: flex-start;
    text-align:initial;
}

.dropdown{
    padding-left: 70px !important;
    align-items: flex-start;
    text-align:initial;
}


.radio-bts{
  background-color: #336925;
  padding-right: 140px !important;
  left: 1% !important;
  border-radius: 5px;
  width: 100px;
  //justify-self: end !important;
  //position: sticky;
 
}

.example-margin{
    padding-left: 5px !important;
    //padding-bottom:  30px !important;
    color: white;
    font-weight: 600;
    //top: 20px !important;
    line-height: medium;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;

}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #E1E31D!important;
  }

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #E1E31D;
  }

  ::ng-deep .mat-checkbox-frame {
    border-color: 1px solid grey;
    background-color: white !important;
   
}

/* Buttons card*/

.div-icons:hover{
    border: 2px solid #e1e31d;
    //opacity: 0.7;
}

.div-icons:focus{
    //outline: #e1e31d solid 2px; 
    //border: none;
}

/* ss */
.geral-map{
    background-color: white;
    //width: 94%;
   
    width: 93.5%;
    //padding-bottom: 40px !important;
    //bottom: 20px !important;
    grid-template-columns: repeat(1, 1fr);
    display: grid;
    //height: auto;
    // margin: 1px auto; //prolblema busca
    position: relative;
    border-radius: 5px;
    height: 500px;
    //padding-right: 299px;
    
}
.header-map{
    
   height: 0px;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5px;
    display: grid;
    flex: 1;
    position: relative;
    width: 100%;
    align-self:flex-start;
    text-align:start;
    
    z-index: 10000000;
    margin: 10px;
  }
  .logo-direm-panel{
    padding-top:20px;
    height: 40px
    
  }
.lineup{
    width: 300px;
}
.bt-relativo{
    padding-left: 10px;
    padding-right: 30px;
    text-align:end;
    z-index: 10000000;
    padding-top:14px;
    height: 40px;
    
}
.footer-map{
    height: 30px;
    border-radius: 5px;
    // grid-template-columns: repeat(6, 1fr);
    // grid-column-gap: 5px;
    // display: grid;
    // flex: 1;
    position: relative;
    width: 95%;
    align-self:flex-end;
    justify-self: center;
    top: 10px !important;
    
}

/* footer bt */
.nome-indf {
    position: relative;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600 !important;
    color: #023A1D;
    font-family: Roboto;
    //font-style: normal;    
    word-wrap: break-all !important;
    line-height: 0.5em !important;
}




#buttonExplorer .mat-button-toggle-button:active {
    border: #e1e31d solid 2px!important;
    border-radius: 5px;
}

#buttonExplorer ::ng-deep mat-button-toggle-group {
    border: #e1e31d solid 2px!important;
}

#buttonExplorer .mat-button-toggle-checked {
    border: #e1e31d solid 2px!important;
}

#buttonExplorer  .mat-button-toggle-button:focus {
    border: #e1e31d solid 2px!important;
}
mat-button-toggle{
   
    /* text-align: center; */
    background-color: #023A1D;
    border-radius: 5px;
    border: 2px solid #ffff !important;
    width:125px !important;
    height: 50px !important;
    text-align: start!important;
   
}

.abc{
    
    width: 100px;
    display: flex;//text-align: start!important;
    align-content: center!important;
    align-self:center!important;
    align-items:center!important;
    justify-content:center!important;
   
    text-align: start!important;
    //width: 450px!important;

}
.abcd{
    //text-align: start!important;
    display: flex;
    padding-right: 5px !important;
    right: 5px !important;
    margin-right: 5px !important;
    //background-color: aqua;
}

.bt-taxa2{
    padding-right: 5px !important;
    right: 5px !important;
    margin-right: 5px !important;
    display: flex;
    text-align: start!important;
}
.ab{
    //padding-right: 5px !important;
    right: 12px !important;
    //margin-right: 5px !important;
}
.linha-cima{
    padding-right: 8px !important;
    grid-area: linha-cima;
}
.linha-cima2{
  padding-right: 8px !important;
  grid-area: linha-cima2;
}
/* #buttonExplorer .mat-button-toggle-disabled {
    background-color: rgba(0,0,0,.12);
    color: rgba(0,0,0,.26);
    }
mat-button-toggle {
    border: 1px rgba(0,0,0,0) solid !important;
    margin-top: 5px !important;
    padding: 0 5px !important;
    z-index: 3 !important;
}

.testeaa{
background-color: blue !important;
} */

.mat-button-toggle-group,
.mat-button-toggle,
.mat-button-toggle-button {
    //background: #0d542a !important;
    box-shadow: none !important;
    border: none !important;
}
.mat-button-toggle-button{
    background-color: blue;
}
mat-selection-option{
//width: 400px;
}

mat-selection-list{
    //background-color: white;
   
    margin-top: -10px;
    border: 1px rgba(0,0,0,0) solid !important;
}
::ng-deep {
    .mat-selection-list{
        border: 1px rgba(0,0,0,0) solid !important;
        background-color: #EDEDED;
        }
    }

    md-select {
        background-color: white;   
        color: black;
        border : 1px solid #666666;

}

.btn-option{
    background-color:#EDEDED;
    border-bottom : 1px solid white;
}
.deselect{
  text-align:left;
  color: white;
  background-color:#336925;
  font-weight: bold;
  height: 40px;
  width: 223px;
  border-radius: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: 25px;
  text-align: center;
}
::ng-deep{
  .deselect{
    border: 1px solid white !important;
  }
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey; 
    border-radius: 1px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #023A1D; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #888; 
  }
/* ::ng-deep {

    .mat-accent .mat-pseudo-checkbox-checked,
    .mat-accent .mat-pseudo-checkbox-indeterminate {
      background: green;
    }
  
    .mat-accent .mat-pseudo-checkbox.mat-pseudo-checkbox-checked,
    .mat-accent .mat-pseudo-checkbox.mat-pseudo-checkbox-indeterminate {
      border-color: blue;
    }
  
    .mat-accent .mat-pseudo-checkbox::after {
      color: red;
    }
  } */

  
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$background:#023A1D;
$white:#fff;
body{
  background-color: $background;
  font-family: 'Montserrat', sans-serif;
  
}
.fa-share-alt{
  color: $background;
}
.container{
  height:30px;
  padding:15px;
  position:absolute;
  top: 100;
  bottom: 0;
  left: 0;
  right: 0;
  margin:auto;
  text-align:center;
}
.menu{
  z-index:999;
  position:absolute;
  padding:0;
  margin:0;
  list-style-type:none;
  //background-color: $background;
  .share{
    i.fa{
      height:50px;
      width:50px;
      text-align:center;
      line-height:50px;
      background-color: #EDEDED;
      border-radius:5px;
      //border:2px solid $background;
    }
    &:hover{
      &.bottom {
        .submenu{
          @for $i from 1 through 5{
            li:nth-child(#{$i}){
              opacity:1;
              top:#{$i*50}px;
              transform:rotate(0deg);
              border-top:1px dashed darken($white,20%);
              transition-delay:#{$i*0.08}s;
              
            }
          }
        }
      }
      &.left{
        .submenu{
          @for $i from 1 through 5{
            li:nth-child(#{$i}){
              opacity:1;
              left:#{-$i*51}px;
              transform:rotate(0deg);
              transition-delay:#{$i*0.5}s;
              border-right:1px dashed darken($white,20%);
            }
          }
        } 
      }
      &.right{
        .submenu{
          @for $i from 1 through 5{
            li:nth-child(#{$i}){
              opacity:1;
              left:#{$i*50}px;
              transform:rotate(0deg);
              transition-delay:#{$i*0.08}s;
              border-left:1px dashed darken($white,20%);
            }
          }
        }
      }
      &.top{
        .submenu{
          @for $i from 1 through 5{
            li:nth-child(#{$i}){
              opacity:1;
              top:#{-$i*51}px;
               transition-delay:#{$i*0.08}s;
              transform:rotateY(0deg);
              border-bottom:1px dashed darken($white,15%);
            }
          }
        }
      }
    }
  }
  .submenu{
    list-style-type:none;
    padding:0;
    margin:0;
    
    li{
      transition:all ease-in-out 0.5s;
      position:absolute;
      top: 0;
      left: 0;
      z-index:-1;
      opacity:0;
      
      a{
        color: white;
        i.fa{
            color: white;
            
          }
          &.facebook{
            i.fa{
               background-color: #023A1D;
            }
          }
          &.twitter{
            i.fa{
              background-color: #023A1D;
            }
          }
          &.googlePlus{
            i.fa{
              background-color: #023A1D;
            }
          }
          &.instagram{
            i.fa{
              background-color: #023A1D;
            }
          }
        &:hover{
          i.fa{
            color: white;
            
          }
          &.facebook{
            i.fa{
               background-color: #3b5999;
            }
          }
          &.twitter{
            i.fa{
              background-color: #55acee;
            }
          }
          &.googlePlus{
            i.fa{
              background-color: #dd4b39;
            }
          }
          &.instagram{
            i.fa{
              background-color: #e4405f;
            }
          }
        }
      }
    }
    @for $i from 1 through 4{
      li:nth-child(#{$i}){
        transform:rotateX(#{$i*45}deg);
      }
    }
    
  }
  &.topLeft{
    top:10px;
    left:10px;
  }
  &.topRight{
    top:10px;
    right:10px;
  }
  &.bottomLeft{
    bottom:10px;
    left:10px;
  }
  &.bottomRight{
    bottom:15px;
    right:10px;
  }
}
@media screen and (max-width:1400px) {
  .wrapper-left {
    //wrapper do painel esquerdo
    grid-template-rows: repeat(2, 1fr);
    //width: 270px;
    //height: 600px;
    padding-left: 30px;
    }

    .wrapper-geral {
      //float: left;
      display: grid;
      flex: 1;
      grid-template-rows:1fr 3fr;
      padding-left: 30px;
      //padding-right: 20px;
      height: 600px;
    }
  }

  @media screen and (max-width:400px) {
    .wrapper-left {
      //wrapper do painel esquerdo
      grid-template-rows: repeat(2, 1fr);
      //width: 270px;
      //height: 600px;
      //padding-left: 50px;
  
    
      //width: 30%;
      margin-bottom: 100px;
      }
  
      .wrapper-geral {
        //float: left;
        display: grid;
        flex: 1;
        grid-template-rows:1fr 3fr;
        padding-left: 0px;
        //width: 30%;
        //padding-right: 20px;
        //height: 600px;
      }
      .geral-map{
        background-color: white;
        //width: 330px;
        //padding-bottom: 600px !important;
        margin-top: 250px;
        margin-left: 0px;
        //bottom: 33px !important;
        grid-template-columns: repeat(1, 1fr);
        display: grid;
        position: relative;
        border-radius: 5px;

        width: 100%;
        padding-bottom: 0px !important;
        bottom: 0px !important;
        //height: 0px;
      }
      .wrapper-icons {
        //wrapper do painel esquerdo
        
        grid-template-rows: repeat(4, 1fr);
        height: 120px;
        justify-self: end !important;
        //width: 80%;
      }
      .wrapper-tela {
        grid-template-rows: repeat(2, 1fr);
        width: 350px;
      }
      .radio-bts{
        background-color: #336925;
        //padding-right: 140px !important;
        //left: 1% !important;
        border-radius: 5px;
        width: 300px !important;
        
        //justify-self: end !important;
        //position: sticky;
        margin-top: 40px;
      }

      .back-color2{
        //grid-column-gap: 20px;
        //justify-self: center !important;
        margin-top: 20px;
        //height: 500px;
        //margin-left: 80px;
      }
    
    
  
  }
/* @media screen and (max-width:1400px) {
  .geral-map{
    background-color: white;
    width: 60%;
    padding-bottom: 40px !important;
    bottom: 33px !important;
    grid-template-columns: repeat(1, 1fr);
    display: grid;
    position: relative;
    border-radius: 5px;
    height: auto;
  }

  .wrapper-icons {
    //wrapper do painel esquerdo
    grid-template-rows: repeat(2, 1fr);
    height: 150px;
    justify-self: end !important;
    width: 90%;
  }
  .wrapper-tela {
    grid-template-rows: repeat(2, 1fr);
    width: 60%;
  }

  .wrapper-left {
    //wrapper do painel esquerdo
    grid-template-rows: repeat(2, 1fr);
    //width: 270px;
    //height: 600px;
    padding-left: 80px;
    width: 60%;
}

} */