.btn-option{
    text-align:left;
    color: white;
    font-weight: bold;
}

.wrapper-tela {
    grid-template-rows: repeat(2, 1fr);
  
}

.wrapper-left {
    //wrapper do painel esquerdo
    grid-template-rows: repeat(2, 1fr);
    width: 270px;
    height: 600px;
    
}

.wrapper-icons {
    //wrapper do painel esquerdo
    grid-template-rows: repeat(2, 1fr);
    width: 100% !important;
    height: 150px;
    justify-self: end !important;
    
   
}
.back-color{
    background-color: #336925;
    height: 120px;
    align-items: center !important;
    align-self: center!important;
    align-content: center!important;
    justify-content: center!important;
    //line-height: 1 !important;
    text-align: center !important;
    width: 100% !important;
    //margin-left: 15px;
   // width: auto;
   
}
.ml-2{
    width: 100%;
    display: grid;
    flex: 1;
    grid-template-columns: repeat(1fr,1fr);
    
}
.wrapper-geral {
    //float: left;
    display: grid;
    flex: 1;
    grid-template-rows:1fr 3fr;
    
}
.container{
    background-color: rebeccapurple;
    //display: flex;
 /*    align-content: flex-end!important;
    align-self: flex-end!important;
    align-items:flex-end!important;
    justify-content:end!important;
    justify-self: end!important; */
    
    
}
.wrapper-icons {
    grid-column-gap: 1px;
    grid-row-gap: 3px;
    //padding: 20px;
    margin-top: 20px !important;
    //margin-left: 2px !important;
    //margin: 1px auto; //prolblema busca
    width: 100%;
    //min-width: 20%;
    //float: left;
    display: block;
    flex: 1;
    grid-template-columns: repeat(1fr,1fr);
    grid-template-rows: repeat(2, 1fr);
    //grid-template-columns: 3fr 1fr;
    //display: grid;
    height: 160px;
    //min-width: 200px;
    /* align-content: center!important;
    align-self: center!important;
    align-items: center!important;
    justify-content: center!important;
    justify-self: center!important; */
    
    
}
.indicadores-div {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 7px;
    grid-row-gap: 7px;
    display: grid;
    // margin: 1px auto; //prolblema busca
    bottom: 30px;
    position: relative;
    margin-top: 10px;
    width: 95%;
}
.check-div{
    //width: 200px;
    //background-color: #E1E31D;
    
    
}
.title-check{
    
    color: #E1E31D;
   
    position: relative;
    //right: 23px !important;
    //top: 7px !important;
}

.back-color2{
    //grid-column-gap: 20px;
    justify-self: end !important;
}

.div-icons {
    margin-top: 10px !important;
    height: 52px;
    text-align: center;
    //background-color: #023A1D;
    border-radius: 5px;
    border: 2px solid #ffff;
    text-align:center;
    
    
}
.div-break{
    grid-template-columns: repeat(2, 1fr);
    display: grid;
}
/* .break-nome{
    text-align:start;
    margin-top: 5px !important;
    right: 5px !important;
} */
.nome-ind {
    position: relative;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
    color: #E1E31D;
    //font-family: Roboto;
    font-style: normal;    
    word-wrap: break-all !important;
    line-height: 1.4;
    padding-top: 8px;
    
    
}
.oneword{
    right: 5px;
}
.icones-ind {
    position: relative;
    height: 45px;
    width: 50px;
    text-align: start !important;
    //right: 30px;
    
}
.div-year{
    background-color: #336925;
    width: 233px;
    height: 120px;
    //padding: 10px;
    border-radius: 5px;
    margin-top: 20px !important;
    margin-left: 25px;
}

.range-date{
    
    //font-size: 8pt;
    //float: right;
    //margin: 8px;

    margin: 0;
    padding: 10px;
    height: 50px;
    //width: 100px !important;
    //size: 10px;
}
mat-form-field{
    width: 210px;
    height: 60px;
    background: white;
    color: grey;
    border-radius: 5px; 
}

mat-label{
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom:20px;
    color: grey;
    
}
.title-bt{
    padding-left: 10px;
    font-weight: 400;
    //top: 20px !important;
    font-size: 13px;
    letter-spacing: 1px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}

mat-datepicker-toggle {
    color: #145427;
}
mat-date-range-input{
    color: #145427;
}

.input-group{
    width: 210px;
    margin-left: 10px;
    
}
.div-estados{
    background-color: #336925;
    width: 233px;
    height: 540px;
    //padding: 10px;
    border-radius: 5px;
    margin-top: 20px !important;
    margin-left: 25px;
}
::placeholder {
    color: gray !important;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: bold;
    
}

.dropdown-toggle{
    padding-left: 30px !important;
    width: 140px;
    height: 36px;
    background: white;
    color: gray;
    align-items: flex-start;
    text-align:initial;
}

.dropdown{
    padding-left: 70px !important;
    align-items: flex-start;
    text-align:initial;
}


.radio-bts{
  background-color: #336925;
  padding-right: 140px !important;
  left: 2% !important;
  border-radius: 5px;
  width: 100px !important;
  justify-self: end !important;
  //position: sticky;
 
}

.example-margin{
    padding-left: 5px !important;
    //padding-bottom:  30px !important;
    color: white;
    font-weight: 600;
    //top: 20px !important;
    line-height: medium;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;

}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #E1E31D!important;
  }

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #E1E31D;
  }

  ::ng-deep .mat-checkbox-frame {
    border-color: 1px solid grey;
    background-color: white !important;
   
}

/* Buttons card*/

.div-icons:hover{
    border: 2px solid #e1e31d;
    //opacity: 0.7;
}

.div-icons:focus{
    //outline: #e1e31d solid 2px; 
    //border: none;
}

/* ss */
.geral-map{
    background-color: white;
    width: 95%;
    padding-bottom: 40px !important;
    bottom: 33px !important;
    grid-template-columns: repeat(1, 1fr);
    display: grid;
    //height: auto;
    // margin: 1px auto; //prolblema busca
   
    position: relative;
    border-radius: 5px;
    
}

.lineup{
    width: 300px;
}
.bt-relativo{
    padding-left: 10px;
    padding-right: 10px;
}
.footer-map{
    height: 30px;
    border-radius: 5px;
    // grid-template-columns: repeat(6, 1fr);
    // grid-column-gap: 5px;
    // display: grid;
    // flex: 1;
    position: relative;
    width: 95%;
    align-self:flex-end;
    justify-self: center;
    top: 10px !important;
    
}

/* footer bt */
.nome-indf {
    position: relative;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600 !important;
    color: #023A1D;
    font-family: Roboto;
    //font-style: normal;    
    word-wrap: break-all !important;
    line-height: 0.5em !important;
}




#buttonExplorer .mat-button-toggle-button:active {
    border: #e1e31d solid 2px!important;
    border-radius: 5px;
}

#buttonExplorer ::ng-deep mat-button-toggle-group {
    border: #e1e31d solid 2px!important;
}

#buttonExplorer .mat-button-toggle-checked {
    border: #e1e31d solid 2px!important;
}

#buttonExplorer  .mat-button-toggle-button:focus {
    border: #e1e31d solid 2px!important;
}
mat-button-toggle{
   
    /* text-align: center; */
    background-color: #023A1D;
    border-radius: 5px;
    border: 2px solid #ffff !important;
    width:128px !important;
    height: 50px !important;
    text-align: start!important;
   
}

.abc{
    
    width: 100px;
    display: flex;//text-align: start!important;
    align-content: center!important;
    align-self:center!important;
    align-items:center!important;
    justify-content:center!important;
   
    text-align: start!important;
    //width: 450px!important;

}
.abcd{
    //text-align: start!important;
    display: flex;
    padding-right: 5px !important;
    right: 5px !important;
    margin-right: 5px !important;
    //background-color: aqua;
}

.bt-taxa2{
    padding-right: 5px !important;
    right: 5px !important;
    margin-right: 5px !important;
    display: flex;
    text-align: start!important;
}
.ab{
    //padding-right: 5px !important;
    right: 12px !important;
    //margin-right: 5px !important;
}
.linha-cima{
    padding-right: 8px !important;
}
/* #buttonExplorer .mat-button-toggle-disabled {
    background-color: rgba(0,0,0,.12);
    color: rgba(0,0,0,.26);
    }
mat-button-toggle {
    border: 1px rgba(0,0,0,0) solid !important;
    margin-top: 5px !important;
    padding: 0 5px !important;
    z-index: 3 !important;
}

.testeaa{
background-color: blue !important;
} */

.mat-button-toggle-group,
.mat-button-toggle,
.mat-button-toggle-button {
    //background: #0d542a !important;
    box-shadow: none !important;
    border: none !important;
}
.mat-button-toggle-button{
    background-color: blue;
}

mat-selection-list{
    //background-color: white;
    border: 1px rgba(0,0,0,0) solid !important;
}
::ng-deep {
    .mat-selection-list{
        border: 1px rgba(0,0,0,0) solid !important;
    }
    }

    md-select {
        background-color: white;   
        color: black;
        border : 1px solid #666666;

}

.btn-option{
    background-color:grey;
    border-bottom : 1px solid white;
}
/* ::ng-deep {

    .mat-accent .mat-pseudo-checkbox-checked,
    .mat-accent .mat-pseudo-checkbox-indeterminate {
      background: green;
    }
  
    .mat-accent .mat-pseudo-checkbox.mat-pseudo-checkbox-checked,
    .mat-accent .mat-pseudo-checkbox.mat-pseudo-checkbox-indeterminate {
      border-color: blue;
    }
  
    .mat-accent .mat-pseudo-checkbox::after {
      color: red;
    }
  } */