.grid-button {
    align-self: flex-start;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1px;
    width: 150px;
}

@media screen and (max-width:460px) {
    .sideicons {
        width: 250px;
    }
}