.grid-button {
    align-self: flex-start;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1px;
    width: 150px;
}

.row-fill {
    min-height: calc(100vh - 100px) !important;
}

@media only screen and (max-width: 918px) {
    .row-fill {
        min-height: calc(100vh - 168px) !important;
    }
}

@media screen and (max-width:460px) {
    .sideicons {
        width: 250px;
    }
}