.grid-button {
    align-self: flex-start;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1px;
    width: 150px;
}

.btn-mobile:hover,
.btn-mobile:focus {
    border: 1px solid #e1e31d;
}

@media screen and (max-width:460px) {
    .sideicons {
        width: 250px;
    }
}

.background {
    background-image: url("/assets/icons/painel.svg");
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center center;
}