<!--<app-sidenav-icons></app-sidenav-icons>
<app-sidenav-est class="h-100"></app-sidenav-est>
<app-dashboard></app-dashboard>-->

<mat-sidenav-container class="row-fill" [hasBackdrop]="false">
    <mat-sidenav #icons opened class="col-3 p-0 h-100">
        <app-sidenav-icons></app-sidenav-icons>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-sidenav-container class="row-fill" [hasBackdrop]="false">
            <mat-sidenav #options closed class="col-2 p-0 h-100">
                <app-sidenav-est></app-sidenav-est>
            </mat-sidenav>
            <mat-sidenav-content>
                <app-dashboard></app-dashboard>
            </mat-sidenav-content>

        </mat-sidenav-container>

    </mat-sidenav-content>




</mat-sidenav-container>