@font-face {
    font-family: "textmeone";
    src: url("./FONTES/TextMeOne-Regular.ttf");
}

@font-face {
    font-family: "Gill35a";
    src: url("./FONTES/gilr35a.TTF");
}

@font-face {
    font-family: "Gill67a";
    src: url("./FONTES/gilr67a.TTF");
}