<div class="container-fluid w-100 row-fill text-center d-flex ">
    <div class="img">
    </div>

    <div class="row justify-content-center align-self-center">
        <div class="col-8 col-lg-6  mb-3">
            <div class="input-group">
                <input type="text" class="form-control inputDiv p-3" placeholder="Digite o nome ou sigla da IES" aria-label="Recipient's username" aria-describedby="basic-addon2">

            </div>
        </div>
        <div class="col-lg-3 ">
            <div class="input-group-append justify-content-center align-self-center">
                <button mat-button class="btn py-1 py-md-0" type="button"  routerLink='/buscador/resultado'>
                    <span class = "d-none d-md-block">Buscar</span>
                    <mat-icon class = "d-block d-md-none m-0">search</mat-icon>
                </button>
                <button mat-button class="btn ml-2 text-center" type="button" routerLink='/buscador/avancado'>
                    <span class = "d-none d-md-block">Busca Avançada</span>
                    <mat-icon class = "d-block d-md-none">settings</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>