.example-full-width {
    width: 80%;
}

.inputDiv {
    color: white;
    background: #002708;
    border-radius: 5px;
    border: none;
    padding: 5px;
}

.btn {
    color: white;
    background: #002708;
}

.img {
    position: absolute;
    background: url('/assets/icons/buscador.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 450px;
    left: 0px;
    right: 0px;
    top: 80px;
    bottom: 0px;
    filter: opacity(0.2);
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
    /* Firefox */
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
}

@media only screen and (max-width: 768px) {
    .img {
        background-size: 350px;
        top: 100px;
    }
}

@media (max-width: 576px) {
    .img {
        background-size: 250px;
        top: 100px;
    }
}

input:focus,
input:hover {
    border: 1px solid #e1e31d;
    box-shadow: none;
    background: #002708;
    // font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.background {
    background-image: url("/assets/icons/buscador.svg");
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center center;
}

.btn:hover,
.btn:focus {
    border: 1px solid #e1e31d;
}