<div class="container-fluid w-100 row-fill text-center d-flex ">
    <div class="img">
    </div>
    <div class="row justify-content-center align-self-center">
        <div class="col-10 col-sm-8 col-lg-6  mb-3">
            <div class="input-group">
                <app-autocomplete class="w-100" name="my-select" placeholder="Digite o nome, sigla, estado ou município da IES" nameField="name" valueField="id" [columns]="['sigla_da_ies']" [options]="options" [(ngModel)]="selectedId" (selectEvent)="valueSelected($event)"
                    (onTextEnter)="searchText=$event">
                </app-autocomplete>
            </div>
        </div>
        <div class="col-lg-2 ">
            <div class="input-group-append justify-content-center align-self-center">
                <button mat-button class="btn text-center" type="button" routerLink='/buscador/avancado'>
                    <span class = "d-none d-md-block">Busca Avançada</span>
                    <mat-icon class = "d-block d-md-none text-center">settings</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>