@import './assets/theme.scss';
@import './assets/font/font-gilson.css';

/* You can add global styles to this file, and also import other style files */

*,
body {
    font-family: 'Gill35a';
}

h1,
h2,
h3,
h4,
h5,
span,
label {
    font-family: 'Gill67a';
}

body {
    background-color: #0d542a !important;
}

.btn-hbg {
    color: white;
    font-size: 30px;
}

.bt-mobile {
    background: #023a1d;
    color: white;
    font-size: 30px;
    top: 5px;
    left: 4px;
    width: 80px;
    border-bottom-color: none;
    border: none;
}

.bt-mobile:active {
    opacity: (0.5);
    border: blue;
}

.row-fill {
    min-height: calc(100vh - 100px) !important;
    background-color: #0d542a !important;
}

@media only screen and (max-width: 918px) {
    .row-fill {
        min-height: calc(100vh - 168px) !important;
    }
}

.loader {
    left: 0;
    top: 0;
    z-index: 99;
    right: 0;
    background-color: #0d542a;
}

.spinner-border {
    height: 200px;
    width: 200px;
}