@import './assets/theme.scss';
@import './assets/font/font-gilson.css';

/* You can add global styles to this file, and also import other style files */

*,
body {
    // font-family: 'Gill35a';
    font-family: 'Gill35a';
    //font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #0d542a;
    overflow-x: hidden;
    //overflow-y: hidden;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// span,
// label {
//     font-family: 'Gill67a';
// }
.btn-hbg {
    color: white;
    font-size: 30px;
}

.bt-mobile {
    background: #023a1d;
    color: white;
    font-size: 30px;
    top: 5px;
    left: 4px;
    width: 80px;
    border-bottom-color: none;
    border: none;
}

.bt-mobile:active {
    opacity: (0.5);
    border: blue;
}

.row-fill {
    min-height: calc(100vh - 100px) !important;
    background-color: rgba($color: #000000, $alpha: 0) !important;
}

@media only screen and (max-width: 918px) {
    .row-fill {
        min-height: calc(100vh - 168px) !important;
    }
}

.loader {
    left: 0;
    top: 0;
    z-index: 99;
    right: 0;
    background-color: #0d542a;
}

.spinner-border {
    height: 200px;
    width: 200px;
}

.nav-link.active>span {
    color: white;
    font-size: 0.5em;
    width: 64px;
    display: block;
    text-align: center;
    position: absolute !important;
    z-index: 9999!important;
}

.titulos {
    font-size: 20px;
    align-items: flex-start;
    color: white;
    position: relative;
    left: 10px;
}

.mat-form-field-infix {
    border-top: 0 !important;
    padding-top: 0 !important;
}

.mat-form-field-outline,
.mat-form-field-empty.mat-form-field-label,
.mat-form-field-label,
.mat-form-field-underline,
.mat-input-element,
::placeholder {
    color: white !important;
    padding-left: 10px;
    margin-top: 2px;
}

.mat-autocomplete-panel {
    background-color: #023a1da4;
    color: white;
}

.cursor-loader {
    cursor: wait;
    * {
        cursor: wait !important;
    }
}