$fa-font-path: "../webfonts";
// @import "./node_modules/font-awesome/scss/fontawesome.scss";
// @import "./node_modules/font-awesome/scss/solid.scss";
// @import "./node_modules/font-awesome/scss/brands.scss";
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn {
    position: relative;
    top: 15px;
    left: 10px;
    height: 45px;
    width: 45px;
    text-align: center;
    background: #023a1d;
    border-radius: 3px;
    cursor: pointer;
    transition: left 0.4s ease;
}

.btn .marcador5 {
    display: grid;
    position: absolute;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 100px;
    background: #023a1d;
    width: 399px;
    height: 55px;
    //grid-row-gap: 1em;
    transition: left 0.4s ease;
}

.text {
    display: none;
    transition: left 0.4s ease;
}

.btn {
    transition: left 0.4s ease;
    position: sticky;
    background: #023a1d;
    border-radius: 0px;
    left: 0px;
    .text {
        display: grid;
    }
}

// .btn.click{
//   //rol no rol
//   position: absolute;
//   left: 400px;
// }
.btn span {
    color: white;
    font-size: 28px;
    line-height: 45px;
}

// .btn.click span:before{
//   content: '\f00d';
// }
.sidebar {
    width: 100%;
    background: #023a1d;
    transition: left 0.4s ease;
    left: 0px;
    position:fixed; //roll dir
}

.text {
    font-size: 25px;
    font-weight: 600;
    line-height: 45px;
    text-align: center;
    background: #023a1d;
    letter-spacing: 1px;
    color: #e1e31d;
}

nav ul {
    background: #023a1d; //fundo cor
    height: 100%;
    width: 95%;
    list-style: none;
}

nav ul .active1 {
    line-height: 140px;
    border-top: 1px solid rgb(223, 228, 33);
}

nav ul .linha2 {
    line-height: 140px;
    border-top: 1px solid rgba(221, 228, 33, 0.384);
}

nav ul .linha3 {
    line-height: 140px;
    border-bottom: 1px solid rgba(221, 228, 33, 0.384);
}

// nav ul li:last-child{
//    border-bottom: 1px solid rgba(255,255,255,0.05);
// }
// estilizando o grid para cada icone
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1px;
    //  grid-row-gap: 1em;
    position: absolute;
    right: 1px;
}

// estilizando o grid para indicadores linha final
.indicadores {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5px;
    position: absolute;
    width: auto;
    right: 1px;
}

//estilziando nome do icone
nav ul li span {
    position: relative;
    color: white;
    font-size: 13px;
    font-weight: 50;
    display: grid;
    text-align: center;
}

.nome3 {
    width: 110px;
}

.nome1 {
    width: 110px;
}

//estilizando numero valor 
nav ul li div .numero {
    position: absolute;
    color: #e1e31d;
    font-size: 17px;
    font-weight: 50;
    display: grid;
    top: 20px;
    width: 110px;
    text-align: center;
    font-weight: bold;
}

nav ul li div .numero2 {
    position: absolute;
    color: #e1e31d;
    font-size: 17px;
    font-weight: 50;
    display: grid;
    top: 20px;
    width: 110px;
    text-align: center;
    font-weight: bold;
}

nav ul li div .numero3 {
    position: absolute;
    color: #e1e31d;
    font-size: 17px;
    font-weight: 50;
    display: grid;
    top: -16px;
    width: 110px;
    text-align: center;
    font-weight: bold;
}

nav ul li div .numero4 {
    position: absolute;
    color: #e1e31d;
    font-size: 17px;
    font-weight: 50;
    display: grid;
    width: 151px;
    right: 0px;
    text-align: center;
    font-weight: bold;
}

//div geral interna
nav ul li div {
    height: 140px;
    //background: blue;
    left: 20px;
    position: relative;
    width: 90%;
}

nav ul li .marcador2 {
    height: 100px;
    //  background: blue;
    left: 20px;
    position: relative;
    width: 90%;
}

// nav ul li div span > .icone1{
//   display: flex;
//   align-items: center;
// }
nav ul li .nome3 {
    top: -33px;
    text-align: center;
}

// estilizando icones primeira fila
.icone1 {
    position: absolute;
    height: 40px;
    top: 20px;
    right: 20px;
    color: white;
}

.icone2 {
    position: absolute;
    height: 37px;
    top: 20px;
    right: 8px;
    color: white;
}

.icone3 {
    position: absolute;
    height: 50px;
    top: 10px;
    right: 8px;
    color: white;
}

// estilizando icones segunda fila
.icone4 {
    position: absolute;
    height: 55px;
    top: 10px;
    right: 25px;
    color: white;
}

.icone5 {
    position: absolute;
    height: 55px;
    top: 10px;
    right: 32px;
    color: white;
}

.icone6 {
    position: absolute;
    height: 50px;
    top: 10px;
    right: 26px;
    color: white;
}

// estilizando icones terceira fila
.icone7 {
    position: absolute;
    height: 50px;
    bottom: 115px;
    right: 23px;
    color: white;
}

.icone8 {
    position: absolute;
    height: 45px;
    bottom: 110px;
    right: 20px;
    color: white;
}

.icone9 {
    position: absolute;
    height: 60px;
    bottom: 110px;
    right: 13px;
    color: white;
}

// .wrapper .icone1{
//   display: grid;
//   position: absolute;
//   height: 40px;
//   top:20px;
//   right: 20px;
//   color: white;
//   // transform: translateY(-50%) rotate(-45deg);
// }
//Estilizando ano indicadores e icone info
.linha4 .taxac {
    width: auto;
    position: relative;
    top: 5px;
}

.linha4 .taxao {
    width: auto;
    position: relative;
    top: 5px;
}

#sucess {
    top: 25px;
}

.linha4 .taxas {
    width: auto;
    position: relative;
    top: 10px;
}

.linha4 .relda {
    width: auto;
    position: relative;
    top: 10px;
}

.linha4 {
    height: 50px;
}

.ano1 {
    color: white;
    position: relative;
    top: 1px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    left: 55px;
}

nav ul li .ano2 {
    position: absolute;
    top: 85px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    left: 50px;
}

nav ul li .ano3 {
    position: absolute;
    top: 325px;
    text-align: center;
    font-size: 13px;
    left: 50px;
    font-weight: bold;
}

nav ul li i {
    position: absolute;
    top: 390px;
    right: 20px;
    color: #d71a20;
    font-size: 15px;
}

// .wrapper > img {
//   position: absolute;
//   top:40px;
//   right: 20px;
//   color: white;
//   // transform: translateY(-50%) rotate(-45deg);
//   font-size: 50px;
//   transition: transform 0.4s;
// }
// nav ul li i{
//   position: relative;
//   color: white;
//   text-decoration: none;
//   font-size: 17px;
//   padding-left: 40px;
//   font-weight: 50;
//   display: block;
//   width: 100%;
//   border-left: 3px solid transparent;
// }
// nav ul li a.active{
//   color: #e1e31d;
//   background: #002708;
//   border-radius: 15px 15px 0px 0px;
//   // border-left-color: #e1e31d;
// }
// nav ul li a:hover{
//   color:#e1e31d;
//   background: #002708;
//   border-radius: 50px 50px 50px 50px;
//   // border-left-color: #e1e31d;
// }
// nav ul ul{
//   position: static;
//   display: none;
// }
// nav ul .oes-show.show2{
//   display: block;
// }
// nav ul .feat-show.show{
//   display: block;
// }
// nav ul .serv-show.show1{
//   display: block;
// }
// nav ul .sud-show.show3{
//   display: block;
// }
// nav ul .sul-show.show4{
//   display: block;
// }
// nav ul ul li{
//   line-height: 20px;
//   border-top: none;
// }
// nav ul ul li a{
//   font-size: 14px;
//   color: #e6e6e6;
//   padding-left: 60px;
//   background: #023a1d;
// }
// nav ul li.active ul li a{
//   color: #e6e6e6;
//   background: #023a1d;
//   border-left-color: transparent;
// }
// nav ul ul li a:hover{
//   color: #e1e31d!important;
//   background: #002708!important;
// }
// nav ul li a i{
//   position: relative;
//   top:30%;
//   right: 20px;
//   transform: translateY(-50%);
//   font-size: 55px;
//   transition: transform 0.4s;
//   margin-top: 30px;
//  }
// nav ul li a i{
//   position: absolute;
//   top:30%;
//   right: 20px;
//   transform: translateY(-50%);
//   font-size: 5px;
//   transition: transform 0.4s;
//   margin-top: 30px;
//   justify-content: space-around;
//   padding-top: 80px;
//   color: white;
//  }
// nav ul li a i.rotate{
//   transform: translateY(-50%) rotate(-180deg);
// }
// nav ul li a:hover i{
//   transform: translateY(-50%) rotate(-180deg);
// }
// .content{
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%,-50%);
//   color: #202020;
//   z-index: -1;
//   text-align: center;
// }
// .content .header{
//   font-size: 45px;
//   font-weight: 600;
// }
// .content p{
//   font-size: 30px;
//   font-weight: 500;
// }