<div class="container  wrapper-geral">
    
<div class="header ">
    <section class="container-estado">

    </section>

    <section class="container-header">
        <div class="header-infos info-dados">
            <span class="text-dados">Dados</span>
            <span class="text-years">2022</span>
        </div>
        <div class="header-infos info-icons">
            <div class="icon-container">
                <img src="/assets/icons/POP_VERDE.png" class="icone4">
            </div>
            <div class="title_head">
                a
            </div>
        </div>
        <div class="header-infos">c</div>
        <div class="header-infos">d</div>
        <div class="header-infos">e</div>
        <div class="header-infos">f</div>
    </section>


</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--all above is necessary for bootstrap to function in this snippet-->



<div class="carousel slide" id="slider" data-ride="carousel">
  <!--indicators-->
  <ol class="carousel-indicators">
    <li data-target="#slider" data-slide-to="0" class="active"></li>
    <li data-target="#slider" data-slide-to="1"></li>
    <li data-target="#slider" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://picsum.photos/1000/600/">
      <div class="carousel-caption">
        <h4>Welcome</h4>
        <p>Travel! Enjoy!</p>
      </div>
    </div>

    <div class="carousel-item" id="slide2">
      <img src="https://picsum.photos/1000/600/">
      <div class="carousel-caption">
        <h4>Welcome</h4>
        <p>Travel! Enjoy!</p>
      </div>
    </div>

    <div class="carousel-item" id="slide3">
      <img src="https://picsum.photos/1000/600/">
      <div class="carousel-caption">
        <h4>Welcome</h4>
        <p>Travel! Enjoy!</p>
      </div>
    </div>

  </div>
  <a class="carousel-control-prev" href="#slider" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#slider" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="container-geral geral">
    
<section class="indicadores">
    <div class="info-indicadores">
        <div class="icon-container">
            <img src="/assets/icons/vagas.png" class="icone4">
        </div>
        <span href="#" class="numero2" name="">6575</span>
        <!-- <span href="#" class="numero2" name="">{{numberWithSpaces(data.qt_vagas_autorizadas)}}</span> -->
        <span class="nome1">Vagas Oferecidas</span>
   </div>
    <div class="info-indicadores">
        <div class="icon-container">
            <img src="/assets/icons/inscritos.png" class="icone4">
        </div>
        <span href="#" class="numero2" name="">6575</span>
        <!-- <span href="#" class="numero2" name="">{{numberWithSpaces(data.qt_vagas_autorizadas)}}</span> -->
        <span class="nome1">Inscritos</span>
   </div>

   <div class="info-indicadores">
        <div class="icon-container">
            <img src="/assets/icons/ingressos.png" class="icone4">
        </div>
        <span href="#" class="numero2" name="">6575</span>
        <!-- <span href="#" class="numero2" name="">{{numberWithSpaces(data.qt_vagas_autorizadas)}}</span> -->
        <span class="nome1">Ingressos</span>
    </div>

    <div class="info-indicadores">
        <div class="icon-container">
            <img src="/assets/icons/matriculados.png" class="icone4">
        </div>
        <span href="#" class="numero2" name="">6575</span>
        <!-- <span href="#" class="numero2" name="">{{numberWithSpaces(data.qt_vagas_autorizadas)}}</span> -->
        <span class="nome1">Matriculados</span>
    </div>

    <div class="info-indicadores">
        <div class="icon-container">
            <img src="/assets/icons/concluintes.png" class="icone4">
        </div>
        <span href="#" class="numero2" name="">6575</span>
        <!-- <span href="#" class="numero2" name="">{{numberWithSpaces(data.qt_vagas_autorizadas)}}</span> -->
        <span class="nome1">Concluintes</span>
    </div>
    <div class="info-indicadores">
        <div class="icon-container">
            <img src="/assets/icons/docentes.png" class="icone4">
        </div>
        <span href="#" class="numero2" name="">6575</span>
        <!-- <span href="#" class="numero2" name="">{{numberWithSpaces(data.qt_vagas_autorizadas)}}</span> -->
        <span class="nome1">Docentes</span>
    </div>
   <div class="info-indicadores">
    <span class="nome1">Docentes</span>
    <span href="#" class="numero2" name="">6575</span>
    <span class="nome1">Docentes</span>
   </div>
   <div class="info-indicadores">
    sha
   </div>
   <div class="info-indicadores">
    sha
   </div>
   <div class="info-indicadores">
    sha
   </div>
   <div class="info-indicadores">
    sha
   </div>
</section>

<section class="indicadores2">
    asasdfgg
</section>

<section class="mapa">
    as
</section>
</div>
</div>
