
.wrapper-geral{
    margin-left: 10px;
    margin-right: 10px;
}
//head
.header{
    margin-top: 0px;
    height: 120px;
    min-height: 120px;
    border-bottom: 2px solid #e1e31d;
    display: flex;
    text-align: center !important;
    align-items: center !important;
}
.container-estado{
    width: 25%;
    height: 100%;
    display: grid;
    justify-content: baseline;
    align-items: center;
    
}
.header-titulo{
    text-align: start !important;
    height: 90%;
}
.header-indicadores{
    text-align: start !important;
    align-items: start !important;
    align-self: flex-end;
    height: 25px; 
}
.indicadores-font{
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: 5px;
    color: white;
    width: 100%;
    text-align: end;
    font-weight: 600;
}
.censo{
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    width: 100%;
    text-align: start;
    font-weight: 300;
}
.container-header{
    background-color: #e1e31d;
    width: 100%;
    height: 90px;
    //margin-left: 5px;
    border-radius: 5px;
    margin: 10px 0px 10px 5px;
    display: flex;
    gap: 3px;
}
.text-dados{
    font-size: 28px;
    font-weight:300;
    color: #023A1D;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
}
.text-years{
    margin-top: -30px;
    font-weight: 700;
    font-size: 30px;
    color: #023A1D;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
}
.header-infos{
    width: 100%;
    height: 100%;
    //background-color: #023A1D;
    //margin:2px 0px 2px 2px;
    display:flex;
    margin: 0 auto;
    justify-content: center !important;
    //text-align: center !important;
    align-items: center !important;
}
.info-dados{
    width: 60% !important;
    display: grid;
    justify-content: center !important;
    text-align: center !important;
    align-items: center !important;
}
.title-head{
    display: grid;
    margin-left: 5px;
}
.number-header{
    color: #023A1D;
    font-size: 17px;
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
    text-align: start !important;
}
.subtitle{
    color: #023A1D;
    font-size: 9px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
    //width: 50px;
    text-align: start !important;
}

.text {
    font-size: 36px;
    font-weight: 600;
    line-height: 45px;
    text-align: center;
    letter-spacing: 1px;
    color: #e1e31d;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
//head

//indicadores
.indicadores{
    //background-color: blue;
    width: 20%;
    grid-area: ind1;
    
}
.container{
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
}
.geral{
    display: flex;
}

.container-geral{
    //grid-template-columns: 1fr 1fr 1fr;
   
}                        

/* .info-indicadores{
    background-color: #023A1D;
    border-radius: 5px;
    min-width: 220px;
    max-width: 300px;
    height: 52px;
    display: flex;
    justify-content: center !important;
    text-align: center !important;
    align-items: center !important;
    margin: 12px 1px auto;
} */

.indicadores2{
    background-color: #023A1D;
    border-radius: 5px;
    height: 692px;
    width: 25%;
    margin: 5px;
    margin-top: 12px;
    //display: grid;
    grid-area: ind1;
}
.nome1 {
    position: relative;
    color: white;
    font-size: 16px;
    display: grid;
    //text-align: center;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 5px;
    width: 150px;
    justify-content:baseline !important;
    text-align:start!important;
    align-items:initial !important;
    
}
.icone4 {
    //position: absolute;
    position: relative;
    height: 37px;
    //top: 10px;
    //right: 25px;
    color: white;
    //margin-left: auto;
    //margin-right: auto;
    //background-color: red;
    
    
}

.numero2 {
    color: #e1e31d;
    font-size: 16px;
    font-weight: bold;
    width: 50px;
}

.icon-container{
    width: 45px;
    justify-content: center !important;
    text-align: center !important;
    align-items: center !important;
    //background-color: aqua;
    margin-right: 10px;
    
}

.title-read-espace{
    margin-left: 30px;
}

.titulo-cursos{
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dash-capital{
    height: 230px;
    
}
.dash-regioes{
    height: 100px;
    width: 100% !important;
}
.dash-org{
    height: 200px;
}
.cursos-reg{
    margin-left: 20px;
    width: 100%;
}
.inep{
    margin-right: 20px;
    color: darkgrey;
    width: 100%;
    text-align: end;
}

.titulo-academica{
    display: flex;
    
}

.linedown{
    border-bottom: 1px solid #e1e31d;
}
//mapa
.mapa{
    width: 55%;
    grid-area: mapa;
    justify-content: center !important;
    text-align: center !important;
    align-items: center !important;
    display: flex;
    align-items: flex-end;
    text-align: end;
}
.grid-map{
    width: auto;
    height: auto;
    margin: 12px 1px auto;
    width: 87%;
}
.filter-button{
    max-width: 90px;
    height: 600px;
    margin: 0 auto;
    display:grid !important;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    position: relative;
}

.mat-button-toggle-group,
.mat-button-toggle,
.mat-button-toggle-button {
    box-shadow: none !important;
    border: none !important;
    background: #0d542a !important;
    width: 90px;
  
}
.mat-button-toggle{
    height: 60px;
    width: auto;
    
}
.btn-icone0 {
    cursor: pointer;
    margin: 0 auto;
    width: auto;
    
}

.btn-icone0.active {
    border: none;
    filter: invert(22%) sepia(100%) saturate(7.8) !important;
}

.icones {
    height: 60px;
    //color: white;
    filter: invert(100%) sepia(100%) saturate(7.8) opacity(0.2);
    //filter: invert(22%) sepia(100%) saturate(7.8);
    //background-color: red;
}

.filtro {
    font-size: 13px;
    color: white;
    top: 0px;
    position: relative;
    font-weight: bold;
}
.bt-group {
    border: none;
    display:grid;
    height: 480px;
}
.icones-grid:hover {
    filter: invert(22%) sepia(100%) saturate(7.8)!important;
}

.icones-grid:focus {
    filter: invert(22%) sepia(100%) saturate(7.8)!important;
}

.icones-grid:active {
    filter: invert(22%) sepia(100%) saturate(7.8) !important;
}


@media screen and (max-width:1200px) {

/*     .filter-button{
        width: 400px;
        height: 90px;
        margin: 0 0 0 auto;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-row-gap: 0px;
        grid-column-gap: 0px;
        top: 40px;
        position: relative;
        display: flex;
        background-color: #e1e31d;
    }
    .mapa{
        width: 50%;
        grid-area: mapa;
        justify-content: center !important;
        text-align: center !important;
        align-items: center !important;
        display: grid;
    }

    .bt-group {
        border: none;
        display:flex !important;
        width: 280px;
        background-color: aqua;
    }

    .grid-map{
        width: auto;
        height: auto;
        margin: 0px 1px auto;
        width: 95%;
    }
    .mat-button-toggle-group,
    .mat-button-toggle,
    .mat-button-toggle-button {
    height: 90px;
} */

}

@media screen and (max-width:1350px) {
    .text {
        font-size: 30px;
        }

}
@media screen and (max-width:1200px) {
    .container-geral{
        //grid-template-columns: 1fr 8fr 1fr;
        grid-template-areas: "mapa mapa" 
						 "indicadores indicaroes2";
        display: grid;
        grid-auto-flow:column;
        position: relative;
        grid-row-gap: 30px;
        width: auto;
    }     
    .geral{
        display: grid;
    }

    .indicadores2{
        background-color: #023A1D;
        border-radius: 5px;
        height: 692px;
        width: 100%;
        margin: 5px;
        margin-top: 12px;
        //display: grid;
        grid-area: auto;
    }
    .indicadores{
        width: 100%;
        grid-area: auto;
    }
    .info-indicadores{
        
        min-width: 220px;
        max-width: 600px !important;
      
    }
    .mapa{
        width: auto;
        height: auto;
        justify-content: center !important;
        text-align: center !important;
        align-items: center !important;
        
    }
    .grid-map{
        //width: auto;
        //height: auto;
        margin: 0 auto;
        width: 85% !important;
        max-width: 1000px;
    }
    .header{
        height: 200px;
        min-height: 200px;
    }
    .container-header{
        height: 180px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        position: relative;
    }
    
    .dash-capital{
        height: 230px;
        margin: 0 auto;
        width: 95% !important;
    }
    .dash-regioes{
        width: 95% !important;
    }
    .dash-org{
        width: 95% !important;
    }
   

}

@media screen and (max-width:700px) {
    .container-geral{
        grid-template-areas: "mapa" "indicadores" "indicaroes2";
        display: grid;
        grid-auto-flow:column;
        position: relative;
        width: auto;
    }  
    .dash-regioes{
        width: 85% !important;
    }
    .indicadores2{
        margin-left: 0px;
    }
    .header{
        height: 300px;
        min-height: 300px;
    }
    .container-header{
        height: 280px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

@media screen and (max-width:650px) {
    .dash-regioes{
        width: 75% !important;
    }

    .grid-map{   
        width: 75% !important;
        background-color: #e1e31d;
    }
}
