<div class="container  wrapper-geral">
    
<div class="header ">
    <section class="container-estado">
        <div class="header-titulo">
            <!-- <span class="text">{{nameUF.toUpperCase()}}</span> -->
            <span class="text">Brasil</span>
        </div>
        <div class="header-indicadores">
            <span class="indicadores-font">Indicadores 2021(INEP)</span>
        </div>
    </section>

    <section class="container-header">
        <div class="header-infos info-dados">
            <span class="text-dados">Dados</span>
            <span class="text-years">2023</span>
        </div>
        <div class="header-infos info-icons">
            <div class="icon-container">
                <img src="/assets/icons/POP_VERDE.png" class="icone4">
            </div>
            <div class="title-head">
                <span class="number-header">213.150.770</span>
                <span class="subtitle">População (IBGE 2021)</span>
            </div>
        </div>
        <div class="header-infos">
            <div class="icon-container">
                <img src="/assets/icons/CURSO_VERDE.png" class="icone4">
            </div>
            <div class="title-head title-read-espace">
                <span class="number-header">388 </span>
                <span class="subtitle">Cursos Ativos</span>
                <!-- <span class="subtitle">(E-MEC 00/00/2021)</span> -->
            </div>
        </div>
        <div class="header-infos">
            <div class="icon-container">
                <img src="/assets/icons/CURSOM_VERDE.png" class="icone4">
            </div>
            <div class="title-head">
                <span class="number-header">1.67</span>
                <span class="subtitle">Cursos/Milhão de Habitantes</span>
            </div>
        </div>
        <div class="header-infos">
            <div class="icon-container">
                <img src="/assets/icons/CURSOE_VERDE.png" class="icone4">
            </div>
            <div class="title-head title-read-espace">
                <span class="number-header">1 </span>
                <span class="subtitle">Curso em Extinção</span>
            </div>
        </div>
        <div class="header-infos">
            <div class="icon-container">
                <img src="/assets/icons/CURSOE_VERDE.png" class="icone4">
            </div>
            <div class="title-head title-read-espace">
                <span class="number-header">0 </span>
                <span class="subtitle">Cursos Extintos</span>
            </div>
        </div>
    </section>
</div>

<div class="container-geral geral">
    <section class="indicadores">
        <app-icons-dashboard></app-icons-dashboard>
    </section>

    <section class="indicadores2">
      
        <div class="titulo-cursos">
            <span class="nome1 cursos-reg">Cursos por Região</span>
            <span class="inep">(INEP 2018)</span>
        </div>
        <div class="dash-capital">
            <app-dash-capital></app-dash-capital>
        </div>
        <div class="titulo-cursos">
            <span class="nome1 cursos-reg">Localização dos cursos</span>
        </div>
        <div class="dash-regioes">
            <app-dash-regioes></app-dash-regioes>
        </div>
        <div class="titulo-cursos linedown">
            <span class="numero2 nome1 cursos-reg">Org. Acadêmica</span>
            <span class="inep">Natureza juridica</span>
        </div>
        <div class="dash-org">
            <app-dash-org-academica></app-dash-org-academica>
        </div>
       
    
    </section>
<!-- <div id="mapPlot">

</div> -->

<section class="mapa">
    <div class="grid-map">
        <div id="mapPlot"></div>
    </div>
    <div class="filter-button">
        <div class="filtro">
            <img src="/assets/icons/NEW_POPULACAO.png" class="icones icones-grid">
            <span>RELATIVO</span>
            <mat-slide-toggle></mat-slide-toggle>
        </div>
        
        <mat-button-toggle-group #group="matButtonToggleGroup" class="bt-group" name="fontStyle" aria-label="Font Style" [vertical]="mobileFilter" [value]="matButton" (change)="onValChange(group.value)">

            <mat-button-toggle class="btn-icone0" matTooltip="Cursos" matButton matTooltipClass="example-tooltip-red" aria-label="" matTooltipPosition="left" id="cursos" value='qt_cursos'>
                <img src="/assets/icons/NEW_CURSOS.png" class="icones icones-grid">
            </mat-button-toggle>

            <mat-button-toggle class="btn-icone0" matTooltip="Vagas Oferecidas" matButton matTooltipClass="example-tooltip-red" aria-label="" matTooltipPosition="left" value='qt_vagas_autorizadas'>
                <img src="/assets/icons/NEW_VAGAS.png" class="icones icones-grid">
            </mat-button-toggle>

            <mat-button-toggle class="btn-icone0" matTooltip="Inscritos" matTooltipClass="example-tooltip-red" aria-label="" matTooltipPosition="left" value='qt_inscrito_total'>
                <img src="/assets/icons/NEW_INSCRITOS.png" class="icones icones-grid">
            </mat-button-toggle>

            <mat-button-toggle class="btn-icone0" matTooltip="Ingressos" matTooltipClass="example-tooltip-red" aria-label="" matTooltipPosition="left" value='qt_ingresso_total'>
                <img src="/assets/icons/NEW_INGRESSOS.png" class="icones icones-grid">
            </mat-button-toggle>

            <mat-button-toggle class="btn-icone0" matTooltip="Matriculados" matTooltipClass="example-tooltip-red" aria-label="" matTooltipPosition="left" value='qt_matricula_total'>
                <img src="/assets/icons/NEW_MATRICULADOS.png" class="icones icones-grid">
            </mat-button-toggle>

            <mat-button-toggle class="btn-icone0" matTooltip="Concluintes" matTooltipClass="example-tooltip-red" aria-label="" matTooltipPosition="left" value='qt_concluinte_total'>
                <img src="/assets/icons/NEW_CONCLUINTES.png" class="icones icones-grid">
            </mat-button-toggle>
        </mat-button-toggle-group>
        <span class="inep">(INEP 2021)</span>
   <!--  <div class="filter-btns"> 
        a   
    </div>
    <div class="filter-btns">
        a
    </div>
    <div class="filter-btns">
        s
    </div>
    <div class="filter-btns">
       d 
    </div>
    <div class="filter-btns">
      f  
    </div>
    <div class="filter-btns">
      sd  
    </div> -->
   
      
    </div>
</section>
</div>
</div>
